<head>
    <title>Moodsight - Laboratorio</title>
    <% include ../commom/tags-header.ejs %>
</head>

<body>
    <% if(!login){%>
        <%  include ../commom/header.ejs %>
            <% } else { %>
                <%  include ../commom/headerOn.ejs %>
                    <% } %>
                        <section class="conteudo-body bg-pattern-1 tamfont1">
                            <div class="PF DF CSP FW topo-lab bg-pattern-1">
                                <nav class="DF FW nav-top CSP">
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                </nav>
                                <div class="topUserName DF FW CSS">
                                    <i class="icon-small icon-user-circle"></i>
                                    <p id="UsuarioNome" class="bold font-1 tamfont4 color-2">Ítalo</p>
                                </div>
                            </div>
                            <div class="header-lab DF CSP FW tamfont1">
                                <h3 class="Upper bold font-1 tamfont5 logoFull-cont w-100 color-2">Projeto gerado - Painel 1</h3>
                                <span class="tamfont3 bg-gradient-3 color-1 Upper bold font-1 text-center title-board DB">Painel 1</span>
                                <div class="text-lab">
                                    <p class="font-1 tamfont4 color-2">Agora que seu painel ja passou pelo nossa sistema, nossa I.A. ”Ocho” identificou as cores
                                        predominantes nas imagens e gerou uma paleta de cores, esse é o momento para experimentar
                                        e testar, fornecemos aqui uma biblioteca de elementos de interface, icones e tipografias
                                        assim como um framework de css para aplicação e teste, nesse ambiente para você pode
                                        utilizar e testar ideias das cores geradas! </p>
                                    <button class="Upper bg-gradient-4 btn btn-round btn-save color-1">Salvar Projeto</button>
                                </div>

                            </div>
                        </section>
                        <section id="pal-cores" class="conteudo-body P-040  bgcolor-8">
                            <h4 class="Upper bold font-1 tamfont5 DF CSP FW title-lab color-1">
                                <i class="icon-large icon-paleta"></i>
                                <span class="Upper font-1">Paleta de Cores</span>
                            </h4>
                            <ul class="DF FW CSP w-80 align-center">
                                <li class="cont-pal-lab">
                                    <div class="pal-lab w-100 c-bg-color-1"></div>
                                    <div class="w-100 leg-pal-lab">
                                        <input class="w-80 c-text-1 jscolor {onFineChange:'update(this,1)'}" value="">
                                        <div class="DF FW CSP">
                                            <i class="icon-small icon-brain"></i>
                                            <i class="icon-small icon-brain"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="cont-pal-lab">
                                    <div class="pal-lab w-100 c-bg-color-2"></div>
                                    <div class="w-100 leg-pal-lab">
                                        <input class="w-80 c-text-2 jscolor {onFineChange:'update(this,2)'}" value="">
                                        <div class="DF FW CSP">
                                            <i class="icon-small icon-brain"></i>
                                            <i class="icon-small icon-brain"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="cont-pal-lab">
                                    <div class="pal-lab w-100 c-bg-color-3"></div>
                                    <div class="w-100 leg-pal-lab">
                                        <input class="w-80 c-text-3 jscolor {onFineChange:'update(this,3)'}" value="">
                                        <div class="DF FW CSP">
                                            <i class="icon-small icon-brain"></i>
                                            <i class="icon-small icon-brain"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="cont-pal-lab">
                                    <div class="pal-lab w-100 c-bg-color-4"></div>
                                    <div class="w-100 leg-pal-lab">
                                        <input class="w-80 c-text-4 jscolor {onFineChange:'update(this,4)'}" value="">
                                        <div class="DF FW CSP">
                                            <i class="icon-small icon-brain"></i>
                                            <i class="icon-small icon-brain"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="cont-pal-lab">
                                    <div class="pal-lab w-100 c-bg-color-5"></div>
                                    <div class="w-100 leg-pal-lab">
                                        <input class="w-80 c-text-5 jscolor {onFineChange:'update(this,5)'}" value="">
                                        <div class="DF FW CSP">
                                            <i class="icon-small icon-brain"></i>
                                            <i class="icon-small icon-brain"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <button class="btn-round btn btn-generate DF FW Upper bold bg-gradient-1 color-1 ">
                                <i class="icon-small icon-formas"></i>
                                <span class="generate-text font-1 tamfont3">Gerar Paleta</span>
                            </button>
                        </section>
                        <% include ../commom/footer.ejs %>
</body>
<% include ../commom/tags-footer.ejs %>
    <script src="/js/jscolor.js "></script>
    <script src="/js/lab.js "></script>