<head>
    <title>MoodSigth</title>
    <% include ../commom/tags-header.ejs %>
</head>

<body>
    <% if(!login){%>
        <%  include ../commom/header.ejs %>
            <% } else { %>
                <%  include ../commom/headerOn.ejs %>
                    <% } %>
                        <section class="conteudo-body bg-pattern-1">
                            <p>teste</p>
                        </section>
                        <% include ../commom/footer.ejs %>
</body>
<% include ../commom/tags-footer.ejs %>
    <script src="/js/lab.js"></script>