<head>
    <title>Moodsight - Laboratorio</title>
    <% include ../commom/tags-header.ejs %>
</head>

<body>
    <% if(!login){%>
        <%  include ../commom/header.ejs %>
            <% } else { %>
                <%  include ../commom/headerOn.ejs %>
                    <% } %>
                        <section class="conteudo-body bg-pattern-1">
                            <div class="w-100 PF DF FW topo-lab">
                                <nav>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-medium icon-font"></i>
                                    </a>
                                </nav>
                                <div class="align-right P-040 topUserName DF FW CSS">
                                    <i class="icon-small icon-user-circle"></i>
                                    <p id="UsuarioNome" class="font-1 tamfont3 color-2"></p>
                                </div>
                            </div>
                            <div class="header-lab">
                                <h3 class="Upper">Projeto gerado - Painel 1</h3>
                                <span class='tamfont3 bg-gradient-3 color-1 Upper bold font-1 text-center title-board'>Painel 1</span>
                                <div>Occaecat ut tempor eu ea proident cillum quis irure. Magna ad ad occaecat laboris consectetur
                                    anim ullamco elit laboris culpa laborum enim. Exercitation quis quis amet ex nulla laborum
                                    est mollit elit. Enim consequat qui officia ad anim minim dolor duis et tempor reprehenderit
                                    Lorem. Aute est officia ipsum veniam dolor dolore esse Lorem.</div>
                                <button class="btn btn-round bg-gradient-4 Upper">Salvar Projeto</button>
                            </div>
                        </section>
                        <section id="pal-cores" class="bgcolor-8">
                            <h4 class="title-lab">
                                <i class="icon-large icon-paleta"></i>
                                <span class="Upper font-1">Paleta de Cores</span>
                            </h4>
                            <ul>
                                <li class="pal-lab c-bg-color-1"></li>
                                <li class="pal-lab c-bg-color-2"></li>
                                <li class="pal-lab c-bg-color-3"></li>
                                <li class="pal-lab c-bg-color-4"></li>
                                <li class="pal-lab c-bg-color-5"></li>
                            </ul>
                        </section>
                        <% include ../commom/footer.ejs %>
</body>
<% include ../commom/tags-footer.ejs %>
    <script src="/js/lab.js"></script>