<!DOCTYPE html>
<head>
  <title>MoodSigth - Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%  include ../commom/header.ejs%>
  <section id="conteudo-body">
      <script>
        var data = JSON.parse($.cookie("basket-data")); 
        console.log(data)
      </script>
  </section>
  <div id="result"></div>
  <% include ../commom/footer.ejs %>
</body>
<% include ../commom/tags-footer.ejs %>
</html>