



html,
body {
    background-color: #f2f2f2;
background-image: url("memphis-colorful.png");}


/* trocar font*/

#info1ft{
    margin-top: 38%;
        margin-left: 75%;

}
#info2ft{
    margin-top: 31%;
        margin-left: 75%;

}
.fontinfo{
    position: absolute;
       font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    border: none;
    color: #000;
  
}
#fontetrocar-bt2{
    margin-top: 40%;
        font-family: 'Anton';!important

}
.font-trocada{
    z-index: 121;
    outline: none;
    margin-left: 75%;
    margin-top: 33%;
    position: absolute;
    font-family: 'courgette';
    font-style: normal;
    font-weight: 800;
    background-color: #129AEC;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 260px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
    
}

.font-trocada:hover {
    outline: none;

    background: none;
    border: 1px solid;
    border-color: #129AEC;
    color: #129AEC;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
/*BOTÕES- TROCAR WIREFRAME */

.h1-mockup{
 padding-top: 2%;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: paytone one;
    font-size: 2em;
    text-align:left;
    color: #223;
        z-index: 102;
    padding: 65px;


}

.sobre{
    margin-top: -37%;
    padding: 65px;

    font-weight: 300;
    font-family: quicksand;
    font-size: 16px;
    color: #223;
    text-align: justify;
    text-justify: inter-word;
    width:220px;
        z-index: 101;

}
   .bg-info{
    margin-left: 960px;   
 padding-top: %;
-webkit-align-content: center;
        align-content: center;
    position: absolute;
    z-index: 100;
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);

    } 



.tamfonte{
position: absolute;
    text-decoration: none;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #129AEC;
    border: none;
    color: white;
    padding: 15px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}
.tamfonte2{
    position: absolute;
    margin-top: -18px;
    margin-left:160px;
    text-decoration: none;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #129AEC;
    border: none;
    color: white;
    padding: 15px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}



.mb-hide{
    display:none;
    
}
.hide{
    display:none;
    
}

/*BT-CHANGE6 = DESKTOP/ MOBILE*/
.bt-change6 {
    z-index: 120;
    outline: none;
    margin-left: 75%;
    position: absolute;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #129AEC;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 260px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change6:hover {
    outline: none;

    background: none;
    border: 1px solid;
    border-color: #129AEC;
    color: #129AEC;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}


.bt-change7:hover {
    outline: none;

    background: none;
    border: 1px solid;
    border-color: #6E12E7;
    color: #6E12E7;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

/*DESKTOP WIREFRAME*/


.MyClass-dk{
    
    width: 70%;
    height: 70%;
}




.linha-gp-dk {
    margin-top: 100px;
}



.logo-dk {

    margin-top: 20px;
    margin-left: 425px;
    width: 80px;
    height: 80px;
    position: absolute;
}

.list-dk {
    width: 60px;
    position: absolute;
    height: 60px;
}

.bt-home-dk {
    position: absolute;
    margin: 10px;
    width: 60px;
    height: 60px;
    text-decoration: none;
    background: none;
    display: inline-block;
    border: none;
}

.bt-sub-dk {
    margin-left: 40%;
    position: relative;
    margin-top: -80px;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #DB5672;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 180px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-sub-dk:hover {


    background-color: #AF263F;
    color: white;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change3 {
    z-index: 10;
    outline: none;
    margin-left: 50%;
    margin-top: -62px;
    position: absolute;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #dd4c5c;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 260px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change3:hover {
    outline: none;

    background: none;
    border: 1px solid;
    border-color: #DD4C5C;
    color: #dd4c5c;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change4 {
        z-index: 11;

    outline: none;
    margin-left: 30%;
    margin-top: -62px;
    position: absolute;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #4F3695;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 260px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change4:hover {
    outline: none;

    background: none;
    border: 1px solid;
    border-color: #4F3695;
    color: #4F3695;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.wrap-dk {
    width: auto;
    height: auto;
    
}


.container-wrap-dk {
    width: 1000px;
    height: 600px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: #2bd8b0; /* Old browsers */
background: -moz-linear-gradient(45deg, #2bd8b0 0%, #9761d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2bd8b0 0%,#9761d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2bd8b0 0%,#9761d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bd8b0', endColorstr='#9761d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title-dk {
    margin-top: 0%;
    position: relative;
    font-weight: 300;
    font-family: quicksand;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.txt-dk {
    position: relative;
    margin-top: -5%;
    margin-left: 150px;
    width: 640px;
    font-weight: 300;
    font-family: quicksand;
    font-size: 16px;
    text-align: center;
    color: #494949;
    background: #FFF;
    padding: 50px 25px 50px 25px;


    letter-spacing: 1px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.h1-dk {
    margin: 4.5%;
    padding-top: 18%;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: paytone one;
    font-size: 2.8em;
    text-align: center;
    color: #fff;
}

.rotate-dk {
    
margin-left: 10px; !important


    margin: 0px auto 0 auto;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}
@media only screen and (min-width: 401px) {
  .
  .conteirer-wrap,
  .wrap {
    width: 50%;
  }
}

/*MOBILE WIREFRAME*/

.MyClass{
    
    width: 70%;
    height: 70%;
}
.fav {
    position: relative;
    margin-top: -15%;
    margin-left: 10px;
    font-weight: 300;
    font-family: quicksand;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.heart {
    width: 60px;
    position: absolute;
    height: 60px;
    margin-left: 65px;
    margin-top: 15px;
}

.heart:hover {}


.linha-gp {
    margin-top: 100px;
}

#linha {
    width: 300px;
    margin-top: 35px;
}

.logo {

    margin-top: 20px;
    margin-left: 150px;
    width: 80px;
    height: 80px;
    position: absolute;
}

.list {
    width: 60px;
    position: absolute;
    height: 60px;
}

.bt-home {
    position: absolute;
    margin: 10px;
    width: 60px;
    height: 60px;
    text-decoration: none;
    background: none;
    display: inline-block;
    border: none;
}

.bt-sub {
    margin-left: 30%;
    position: relative;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #57dcb5;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 180px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-sub:hover {


    background-color: #4ca188;
    color: white;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change {
    outline: none;
    margin-left: 50%;
    margin-top: -62px;
    position: absolute;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #dd4c5c;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 260px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change:hover {
    outline: none;

    background: none;
    border: 1px solid;
    border-color: #DD4C5C;
    color: #dd4c5c;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change2 {
    outline: none;
    margin-left: 30%;
    margin-top: -62px;
    position: absolute;
    font-family: 'quicksand';
    font-style: normal;
    font-weight: 800;
    background-color: #4F3695;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 260px;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.bt-change2:hover {
    outline: none;

    background: none;
    border: 1px solid;
    border-color: #4F3695;
    color: #4F3695;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.wrap {
    width: auto;
    
    height: auto;
    
}


.container-wrap {
    width: 440px;
    
    height: 936px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
   background: #31f7f4; /* Old browsers */
background: -moz-linear-gradient(-45deg, #31f7f4 1%, #d66095 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #31f7f4 1%,#d66095 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #31f7f4 1%,#d66095 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31f7f4', endColorstr='#d66095',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title {
    margin-top: 10%;
    position: relative;
    font-weight: 300;
    font-family: quicksand;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.txt {
    position: relative;
    margin-top: 5%;
    margin-left: 24px;
    width: 340px;
    font-weight: 300;
    font-family: quicksand;
    font-size: 16px;
    text-align: center;
    color: #494949;
    background: #FFF;
    padding: 50px 25px 50px 25px;


    letter-spacing: 1px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.txt2 {
    position: relative;
    margin-top: ;
    margin-left: 24px;
    width: 340px;
    height: 6px;
    font-weight: 300;
    font-family: quicksand;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #E782D3;
    padding: 45px 25px 45px 25px;


    letter-spacing: 1px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.h1 {
    margin: 10%;
    padding-top: 40%;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: paytone one;
    font-size: 2.8em;
    text-align: center;
    color: #fff;
}

.rotate {
    
margin-left: 260px; !important
    margin-top: -50%;


    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}
@media only screen and (min-width: 401px) {
  .
  .conteirer-wrap-dk,
  .wrap-dk {
    width: 50%;
  }
}