<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Teste-perspectiva</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="alternate stylesheet" type="text/css" href="nothing.css" title="fontegrande" id="fontegrande" disabled="">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
</head>

<body>

    <button onclick="btmbchange()" id="desktop" class="bt-change6">ALTERNAR-MOCKUP UI</button>
    <button onclick="changefont()" id="fontetrocar-bt" class="font-trocada">TROCAR FONT</button>
    <button onclick="changefonte()" id="fontetrocar-bt2" class="font-trocada">TROCAR FONT</button>
    <p id="info1ft" class="fontinfo">Font primária</p>
    <p id="info2ft" class="fontinfo">Font secundária</p>


    <div class="bg-info">
        <h1 class="h1-mockup">MOCKUP UI
            <br>INTERATIVO</h1>
        <section class="sobre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ipsum saepe iusto vitae quia quae voluptas, ad libero
            officia esse dicta assumenda! Illo ratione facere nostrum nihil, et voluptatem nemo.</section>
    </div>
    <a href="#" class="tamfonte" onclick="setActiveStyleSheet('fontegrande','fontegrande'); return false;" id="aumentar" title="Aumentar Tamanho do Texto">CHAOS REIGNS </a>
    <br>
    <a href="#" class="tamfonte2" onclick="setActiveStyleSheet('fontenormal','fontegrande'); return false;" id="voltar" title="Tamanho do Texto Normal">
    PIXEL PERFECT</a>

    <!-- INICIO - MOBILE-WIREFRAME -->
    <div id="mb-hide" class="">
        <button id="change" class="bt-change">FLAT</button>
        <button id="change-back" class="bt-change2">PERSPECTIVA</button>
        <div id="virar" class="rotate">
            <div class="wrap">
                <main class="container-wrap">
                    <div class="logo">
                        <img src="brain.png" height="150px" width="150px" />
                    </div>
                    <button class="bt-home">
                        <div class="list">
                            <img src="list.png" height="60px" width="60px" />
                        </div>
                    </button>
                    <h1 id="primaria" class="h1">PAYTONE</h1>
                    <h2 id="texto3" class="title">QUICKSAND TITLE</h2>
                    <p id="texto4" class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque dolorem deserunt praesentium
                        unde debitis, corporis quas quasi perspiciatis eum qui, repellat totam sequi asperiores error dolores
                        voluptatibus harum corrupti.</p>
                    <button class="bt-sub">SUBMIT</button>
                    <div class="heart">
                        <img src="heart.png" height="60px" width="60px" />
                    </div>
                    <div class="linha-gp">
                        <p class="fav">Lista de Favoritos</p>
                        <hr id="linha">
                        <hr id="linha">
                        <hr id="linha">
                    </div>
                    <p class="txt2"> </p>
                </main>
            </div>
        </div>
    </div>


    <!-- FIM - MOBILE-WIREFRAME -->


    <!-- INICIO - -DESKTOP -->
    <div id="dk-hide" class="hide">
        <button id="change2" class="bt-change3">FLAT</button>
        <button id="change-back2" class="bt-change4">PERSPECTIVA</button>
        <div id="virar2" class="rotate-dk">
            <div class="wrap-dk">
                <main class="container-wrap-dk">
                    <div class="logo-dk">
                        <img src="brain.png" height="150px" width="150px">
                    </div>
                    <button class="bt-home-dk">
                    </button>
                    <h1 id="primaria2" class="h1-dk">PAYTONE</h1>
                    <h2 id="texto2" class="title-dk">QUICKSAND TITLE</h2>
                    <p id="texto1" class="txt-dk">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque dolorem deserunt praesentium
                        unde debitis, corporis quas quasi perspiciatis eum qui, repellat totam sequi asperiores error dolores
                        voluptatibus harum corrupti.</p>
                    <button class="bt-sub-dk">SUBMIT</button>
                    <div class="linha-gp-dk">

                    </div>

                </main>
            </div>
        </div>
    </div>
    <!-- FIM - DESKTOP-WIREFRAME -->
    <script>
        /*INICIO BOTAO PERSPECTIVA MOBILE*/
        document.getElementById("change").addEventListener("click", btflat);

        function btflat() {
            document.getElementById("virar").className = "MyClass";
            document.getElementById("change").innerHTML = "FLAT";
        }

        document.getElementById("change-back").addEventListener("click", btperspec);

        function btperspec() {
            document.getElementById("virar").className = "rotate";
            document.getElementById("change-back").innerHTML = "PERSPECTIVA";
        }

        /*FIM BOTAO PERSPECTIVA MOBILE*/

        /*INICIO BOTAO PERSPECTIVA DESKTOP*/
        document.getElementById("change2").addEventListener("click", btflatdk);

        function btflatdk() {
            document.getElementById("virar2").className = "MyClass-dk";
            document.getElementById("change2").innerHTML = "FLAT";
        }

        document.getElementById("change-back2").addEventListener("click", btperspecdk);

        function btperspecdk() {
            document.getElementById("virar2").className = "rotate-dk";
            document.getElementById("change-back2").innerHTML = "PERSPECTIVA";
        }


        /*FIM BOTAO PERSPECTIVA DESKTOP*/

        /* BOTAO ALTERNAR MOCKUPUI */


        function btmbchange() {
            document.getElementById("mb-hide").classList.toggle("mb-hide")
            document.getElementById("dk-hide").classList.toggle("hide")

        }

        function changefont() {
            document.getElementById("texto1").style.fontFamily = "courgette";
            document.getElementById("texto2").style.fontFamily = "courgette";
            document.getElementById("texto3").style.fontFamily = "courgette";

            document.getElementById("texto4").style.fontFamily = "courgette";



        }

        function changefonte() {
            document.getElementById("primaria").style.fontFamily = "Anton"
            document.getElementById("primaria2").style.fontFamily = "Anton"




        }
    </script>
    <script async src="styleswitcher.js"></script>
</body>

</html>