<footer class="container-100 bgcolor-7 bgfooter">
    <div>
        <img src="/app/public/img/logopb.png" alt="">
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo ac mauris pharetra sollicitudin. Nam eu mattis enim, ut elementum nunc. Suspendisse ultricies sollicitudin justo, sit amet dignissim mauris sollicitudin ac.
    </p>
    <nav class="DF FW">
        <a href="">Biblioteca de Conteúdo</a>
        <a href="">Sobre</a>
        <a href="">Ajuda</a>
        <a href="">Contato</a>
        <a href=""><i class="icon icon-youtube"></i></a>
        <a href=""><i class="icon icon-facebook"></i></a>
        <a href=""><i class="icon icon-instagram"></i></a>
    </nav>
</footer>