<footer class="container-100 bgcolor-7 bgfooter">
    <div class="logoFull-cont w-50">
        <img src="/img/logo-br.png" alt="">
    </div>
    <p class="font-1 tamfont1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo ac mauris pharetra sollicitudin. Nam eu mattis enim, ut elementum nunc. Suspendisse ultricies sollicitudin justo, sit amet dignissim mauris sollicitudin ac.
    </p>
    <nav class="DF FW CEP tamfont1 P-100">
        <a class="font-1 link-hover" href="/Biblioteca-de-Conteudo">Biblioteca de Conteúdo</a>
        <a class="font-1 link-hover" href="/Sobre">Sobre</a>
        <a class="font-1 link-hover" href="/Ajuda">Ajuda</a>
        <a class="font-1 link-hover" href="/Contato">Contato</a>
        <div class="DF FW CSP w-25">
            <a href=""><i class="icon-small bg-icon-footer icon-youtube"></i></a>
            <a href=""><i class="icon-small bg-icon-footer icon-facebook"></i></a>
            <a href=""><i class="icon-small bg-icon-footer icon-instagram"></i></a>
        </div>
    </nav>
</footer>