<header role="menubar" id="menu" class="PF DF FW menu-cont">
    <a class="logo-cont" href="/">
      <i class="icon-big icon-center icon-moodsight"></i>
    </a>
    <nav class="navigation-menu DF FW w-100 ">
      <a role="menuitem" class="w-100 menuitem PR" href="/Conta">
        <i class="icon-medium icon-center icon-conta-geral"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Minha Conta</span></div>
      </a>
      <a role="menuitem" class="w-100 menuitem PR" href="/Material-Kits">
        <i class="icon-medium icon-center icon-material-kit"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Material Kits</span></div>
      </a>
      <a role="menuitem" class="w-100 menuitem PR" href="/Dashboard">
        <i class="icon-medium icon-center icon-selecao-de-painel"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Dashboard</span></div>
      </a>
      <a role="menuitem" class="w-100 menuitem PR" href="/Projetos-Salvos">
        <i class="icon-medium icon-center icon-projetos-salvos"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Projetos Salvos</span></div>
      </a>
      <a role="menuitem" class="w-100 menuitem PR" href="/Biblioteca-de-Conteudo">
        <i class="icon-medium icon-center icon-biblioteca-conteudo"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Biblioteca de Conteudo</span></div>
      </a>
      <a role="menuitem" class="w-100 menuitem PR" href="/Sobre">
        <i class="icon-medium icon-center icon-info"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Sobre a Moodsight</span></div>
      </a>
      <a role="menuitem" class="w-100 menuitem PR" href="/Ajuda">
        <i class="icon-medium icon-center icon-ajuda"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Ajuda</span></div>
      </a>
      <a role="menuitem" class="w-100 menuitem PR" href="/Contato">
        <i class="icon-medium icon-center icon-contato"></i>
        <div class="PA menu-balao"><span class="balao menu-balao-item DB bgcolor-7 color-3 tamfont4 font-1 text-center">Fale Conosco</span></div>
      </a>
    </nav>
  </header>