<header role="menubar" id="menu" class="PF DF FW">
  <a class="logo-cont" href="/">
    <i class="icon-large icon-center icon-moodsight"></i>
  </a>
  <nav class="navigation-menu DF FW w-100">
    <a role="menuitem" class="w-100" href="/Biblioteca-de-Conteudo">
      <i class="icon-big icon-center icon-biblioteca-conteudo"></i>
    </a>
    <a role="menuitem" class="w-100" href="/Informacao">
      <i class="icon-big icon-center icon-info"></i>
    </a>
    <a role="menuitem" class="w-100" href="/Ajuda">
      <i class="icon-big icon-center icon-ajuda"></i>
    </a>
    <a role="menuitem" class="w-100" href="/Contato">
      <i class="icon-big icon-center icon-contato"></i>
    </a>
  </nav>
</header>