/*---------------------- RESET ------------------------*/
@import url('https://fonts.googleapis.com/css?family=Paytone+One|Quicksand:300,400,700');
*, *::after, *::before{
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, header, #root, #menu{
  height: 100%;
}
html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 80%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
}
footer{
  border-top: solid 0.2em #2980b9;
  margin: 3em 0 0em;
  padding: 0 0 2em;
  width: 100%;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
img{
  width: 100%;
  height: auto;
}
button{
  border: none;
  background: transparent;
}
/*---------------------- FIM RESET --------------------*/
/*---------------------- PADROES ----------------------*/
.font-1{
  font-family: 'Quicksand', sans-serif;
}
.font-2{
  font-family: 'Paytone One', sans-serif;
}
.Upper{
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
.light{
  font-weight: lighter;
}
.tamfont0{
  font-size: 0em;
}
.tamfont1{
  font-size: 1em;
}
.tamfont2{
  font-size: 1.5em;
}
.tamfont3{
  font-size: 2em;
}
.tamfont4{
  font-size: 2.5em;
}
.tamfont5 {
  font-size: 3em;
}
.tamfont6 {
  font-size: 3.5em;
}
.tamfont7 {
  font-size: 4em;
}
.tamfont8 {
  font-size: 4.5em;
}
.bg-alert{
  background-color: #FA4941;
}
.bg-home{
  background: url(../img/bghomeL.png) no-repeat left center, url(../img/bghomeR.png) no-repeat right center;;
}
.bgcolor-1{
  background-color:#f60a9d;
}
.bgcolor-2{
  background-color:#79d3d3;
}
.bgcolor-3{
  background-color:#f60a9d;
}
.bgcolor-4{
  background-color:#a766fe;
}
.bgcolor-5{
  background-color:#0ee0b9;
}
.bgcolor-6{
  background-color:#FFFFFF;
}
.bgcolor-7{
  background-color:#232027;
}
.color-1{
  color: #FFFFFF;
}
.color-2{
  color: #232027;
}
.color-3{
  color: #3498d0;
}
.color-4{
  color: #FCD658;
}
.color-5{
  color: #909090;
}
.light{
  font-weight: 100;
}
.regular{
  font-weight: 300;
}
.bold{
  font-weight: 600;
}
.align-right{
  margin:0 0 0 auto;
}
.align-center{
  margin:0 auto;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.DIB{
  display: inline-block;
}
.DBA{
  display: block;
  position: absolute;
}
.DF{
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;  
}
.DIF{
  -webkit-display: inline-flex;
      -ms-display: inline-flex;
          display: inline-flex;   
}
.FW{
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.PA{
  position: absolute;
}
.PF{
  position: fixed;
}
.PR{
  position: relative;
}
.DN{
  display: none;
}
.DB{
  display: block;
}
.FL{
  float: left;
}
.FR{
  float: right;
}
.hide{
  visibility: hidden;
  display: none;
}
.show{
  visibility: visible;
  display: block;
}
.mx1440{
  max-width: 1300px;
}
.mx1400{
  max-width: 1400px;
}
.CB{
  margin-right: auto;
  margin-left: auto;
}
.CS{
  -webkit-align-items: center;
          align-items: center;
  }
.CSP{
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;    
}
.CSA{
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}
.SB{
  -webkit-justify-content: space-between;
          justify-content: space-between;  
}
.link-hover:hover{
  text-decoration: underline;
  text-decoration-color: #3498db;
}
.link-hover-negative:hover,.buy-cont:hover .link-hover-negative{
  text-decoration: underline;
  text-decoration-color: #f9cc27;
}
#conteudopag{
  margin-top:90px;
}
.align-right{
  -webkit-align-content:  flex-start;
          align-content:  flex-start; 
}
/* BOTOES */
  .btn{
    cursor: pointer;
    text-transform: uppercase; 
  }
  .btn-login{
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px auto;
  }
  .fa-sign-in-alt{
    margin-left: 5px;
  }
/* FIM BOTOES */
/*---------------------- FIM PADROES ------------------*/
/*---------------------- CONTAINER --------------------*/
.h-50{
  height: 50%;
}
.w-33{
  width: calc(100%/3)
}
.w-100{
  width:100%;
}
.container-FH{
  margin-left: 130px;
  width: calc(100% - 130px);
}
.w-90{
  width:90%;
}
.w-80{
  width:80%;
}
.w-70{
  width:70%;
}
.w-60{
  width: 60%;
}
.w-50{
  width: 50%;
}
.w-40{
  width: 40%;
}
.w-30{
  width: 30%;
}
.w-20{
  width: 20%;
}
/*---------------------- FIM CONTAINER ----------------*/
/*---------------------- SPRITE -----------------------*/
.icon-small{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}
.icon-center{
  margin: 0 auto;
  display: block;
}
.icon-ad-block{
  background: url(.../img/ad-block.svg);
}
.icon-ajuda{
  background: url(.../img/ajuda.svg);
}
.icon-ajuda:hover{
  background: url(.../img/ajuda~hover.svg);
}
.icon-api-nw{
  background: url(.../img/API-pinterest-no-white.svg);
}
.icon-api{
  background: url(.../img/API-pinterest.svg);
}
.icon-armazenamento{
  background: url(.../img/armazenamento.svg);
}
.icon-bars{
  background: url(.../img/bars.svg);
}
.icon-biblioteca-conteudo{
  background: url(.../img/biblioteca-conteudo.svg);
}
.icon-biblioteca-conteudo:hover{
  background: url(.../img/biblioteca-conteudo~hover.svg);
}
.icon-brain-nw{
  background: url(.../img/Brain-no-white.svg);
}
.icon-brain{
  background: url(.../img/Brain.svg);
}
.icon-check-feedback{
  background: url(.../img/check-feedback.svg);
}
.icon-check-square{
  background: url(.../img/check-square.svg);
}
.icon-check-square:hover{
  background: url(.../img/check-square~hover.svg);
}
.icon-code{
  background: url(.../img/condigo-icon.svg);
}
.icon-conta-geral{
  background: url(.../img/Conta-geral.svg);
}
.icon-conta-geral:hover{
  background: url(.../img/Conta-geral~hover.svg);
}
.icon-contato{
  background: url(.../img/Contato.svg);
}
.icon-contato:hover{
  background: url(.../img/Contato~hover.svg);
}
.icon-desconto-normal{
  background: url(.../img/desconto-normal.svg);
}
.icon-dica-rapida{
  background: url(.../img/dica-rapida.svg);
}
.icon-edit{
  background: url(.../img/edit.svg);
}
.icon-error-feedback{
  background: url(.../img/error-feedback.svg);
}
.icon-exclamation-circle{
  background: url(.../img/exclamation-circle.svg);
}
.icon-expe-nw{
  background: url(.../img/experimentacao-no-white.svg);
}
.icon-expe{
  background: url(.../img/experimentacao.svg);
}
.icon-font{
  background: url(.../img/fonte-icone.svg);
}
.icon-formas{
  background: url(.../img/formas.svg);
}
.icon-info{
  background: url(.../img/Info.svg);
}
.icon-info:hover{
  background: url(.../img/Info~hover.svg);
}
.icon-info-circle{
  background: url(.../img/info-circle.svg);
}
.icon-material-kit{
  background: url(.../img/Material-kit.svg);
}
.icon-material-kit:hover{
  background: url(.../img/Material-kit~hover.svg);
}
.icon-mockup{
  background: url(.../img/mockup-icon.svg);
}
.icon-news{
  background: url(.../img/newsletter.svg);
}
.icon-paleta{
  background: url(.../img/paletadecor.svg);
}
.icon-projetos-salvos{
  background: url(.../img/Projetos-salvos.svg);
}
.icon-projetos-salvos:hover{
  background: url(.../img/Projetos-salvos~hover.svg);
}
.icon-selecao-de-painel{
  background: url(.../img/selecao-de-paineis.svg);
}
.icon-selecao-de-painel:hover{
  background: url(.../img/selecao-de-paineis~hover.svg);
}
.icon-seta-direita{
  background: url(.../img/seta-direita.svg);
}
.icon-seta-drop{
  background: url(.../img/seta-drop.svg);
}
.icon-seta-drop-w{
  background: url(.../img/seta-drop-white.svg);
}
.icon-seta-esquerda{
  background: url(.../img/seta-esquerda.svg);
}
.icon-privacidade{
  background: url(.../img/S-privacidade.svg);
}
.icon-privacidade:hover{
  background: url(.../img/S-privacidade~hover.svg);
}
.icon-status{
  background: url(.../img/status-conta.svg);
}
.icon-status:hover{
  background: url(.../img/status-conta~hover.svg);
}
.icon-UI-elements-nw{
  background: url(.../img/UI-elements-no-white.svg);
}
.icon-UI-elements{
  background: url(.../img/UI-elements.svg);
}
.icon-upload{
  background: url(.../img/upload.svg);
}
.icon-upload:hover{
  background: url(.../img/upload~hover.svg);
}
.icon-user-circle{
  background: url(.../img/user-circle.svg);
}
.icon-UX{
  background: url(.../img/UX.svg);
}
.icon-UX-nw{
  background: url(.../img/UX-no-white.svg);
}
.icon-visao-comp{
  background: url(.../img/visao-computacional.svg);
}
.icon-visao-comp-nw{
  background: url(.../img/visao-computacional-no-white.svg);
}

/*---------------------- FIM SPRITE -------------------*/
/*---------------------- MENU -----------------------*/
#menu{
  width: 130px;
  background: linear-gradient(to top, #a767ff, #8ee6be);
  -webkit-align-content: flex-start;
          align-content: flex-start;
}  
.navigation-menu{
  height: calc(100% - 100px);
  margin: auto 0 0 0;
  -webkit-align-content: flex-end;
          align-content: flex-end;
} 
.menu-item{
  height: 60px;
}
.menu-item > svg{
  height: 50%;
}
.logo-cont {
  width: 60px;
  height: 60px;
  margin: 20px auto;
}
.logoFull-cont > img {
    max-width: 80%;
}
/*---------------------- FIM MENU -------------------*/
/*---------------------- CONTEUDO -----------------------*/
#conteudo-body{
  margin-left: 130px;
  width: calc(100% - 130px);
  min-height: 100%;
  padding: 20px 30px;
  background: url('/img/bg-pattern.png');
}
/*---------------------- FIM CONTEUDO -------------------*/
/*---------------------- HOME ---------------------------*/
.logoFull-cont{
  margin-bottom: 20px;
}
.pal-item{
  width: calc(20% - 10px);
  height: 3vw;
  border-radius: 5px;
}
.title-chamada{
  margin-bottom: 20px;
  padding-left: 40px;
}
.text-chamada{
    line-height: 1.5em;
    padding-left: 40px;
}
.video-container{
  border-radius: 15px;
  box-shadow: 0px 10px 9px 0 rgba(0, 0, 0, 0.29);
  background-color: #ffffff;
  margin: 20px 0;
  border: solid 1px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 400px;
}
.info-home-cont{
  margin: 50px auto 30px;
}
.info-home{
   grid-row-gap: 20px;
}
/*---------------------- FIM HOME -----------------------*/
/*---------------------- RESPONSIVO -------------------*/
@media screen and (max-width: 1080px){
  /*------PADROES------*/
  .tb-container-100{
    width:100%;
  }
  .tb-container-90{
    width:90%;
  }
  .tb-container-80{
    width:80%;
  }
  .tb-container-50{
    width:50%;
  }
  .minibanner-item{
    width:48%;
  }
  .tb-show{
    display: block;
    visibility: visible;
  }
  .tb-hide{
    display: none;
    visibility: hidden;
  }
  .tb-text-center{
    text-align: center;
  }
}
@media screen and (max-width: 800px){
  .mb-container-100{
    width:100% !important;
  }
  .mb-hide{
    display: none;
    visibility: hidden;      
  }  
}
/*---------------------- FIM RESPONSIVO ---------------*/