<!DOCTYPE html>
<head>
  <title>MoodSigth</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <% include ../commom/header.ejs %> 
  <section id="conteudo-body">
    <div class="w-100 DF FW P-040">
      <div class="w-70 DF FW">
        <div class="logoFull-cont w-50">
          <img src="img/logo-full.png" alt="Logo completo da MoodSight">
        </div>
        <div class="w-50">
          <h4 class="tamfont8 title-chamada font-1 color-2 bold">
            Expanda suas possibilidades <br/> 
            Dê forma as suas ideias <br/> 
            Teste seus conceitos.
          </h4>
        </div>
        <ul class="w-50 DF FW CSA">
          <li class="pal-item w-20 bgcolor-1"></li>
          <li class="pal-item w-20 bgcolor-2"></li>
          <li class="pal-item w-20 bgcolor-3"></li>
          <li class="pal-item w-20 bgcolor-4"></li>
          <li class="pal-item w-20 bgcolor-5"></li>
        </ul>
        <div class="w-50">
          <p class="text-chamada font-1 tamfont4 color-2">Um site que te ajuda durante seu processo criativo, te fornece recursos, conteúdo e te ajuda a testar suas ideias e conceitos focando nas tuas decisões de Ui/UX do seu projeto.</p>
        </div>
      </div>
      <div class="w-30">
        <button onclick="pintrestLogin()" class="btn btn-login DF CS color-2 tamfont2 font-1 Upper">Comece seu projeto com  <span class="bold"> Pinterest</span><img src="img/pinterest.svg" class="icon-small" alt="Pinterest Logo"></button>
      </div>
    </div>
    <div class="P-040"><div class="video-container"></div></div>
    <div class="bgcolor-6 color-2 w-100 bg-home PR">
      <div class="PA cont-masc-home DF FW w-20">
        <i class="icon-center icon-Xlarge mascot-home"></i>
        <div class="balao fala-home w-100 bgcolor-7 LH5">
          <p class="color-1 tamfont4 font-1 text-center">Oi, meu nome é <span class="color-4 tamfont2">Ocho</span>.<br>Sou a I.A. que irá te ajudar!</p>
        </div>
      </div>
      <h4 class="text-home DF CS text-center font-1 tamfont6 bold color-2 w-40 CB">Uma ferramenta de design flexível que melhora seu fluxo de trabalho.</h4>
      <p class="sub-text-home DF CS text-center font-1 tamfont4 bold color-2 w-50 CB">Agilize seu processe criativo e foque em decisões de UI/UX prototipando seu projeto com nosso material design kit e a base levantada com a análise de cor do seu moodboard do pinterest pela nossa Inteligência Artificial.</p>
      <div class="w-80 DF FW P-600 CB">
        <div class="info-home DF FW w-20">
          <div class="w-100"><i class="icon-medium icon-center icon-paleta"></i></div>
          <p class="w-100 Upper text-center font-1 bold tamfont5 color-2 LH4">Paletas de Cores</p>
          <p class="text-center tamfont4 color-2 font-1">Tenha cores coerentes com o seu moodboard com rapidez e precisão.  Aqui na moodsight você cria e a documentação já está sempre na mão.</p>
        </div>
        <div class="info-home DF FW w-20">
          <div class="w-100"><i class="icon-medium icon-center icon-formas"></i></div>
          <p class="w-100 Upper text-center font-1 bold tamfont5 color-2 LH4">Elementos UI</p>
          <p class="text-center tamfont4 color-2 font-1">Faça experimentações com elementos de interação, saiba o desempenho das cores, antes de ter problemas futuros.</p>
        </div>
        <div class="info-home DF FW w-20">
          <div class="w-100"><i class="icon-medium icon-center icon-bars"></i></div>
          <p class="w-100 Upper text-center font-1 bold tamfont5 color-2 LH4">Icones</p>
          <p class="text-center tamfont4 color-2 font-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate mollitia recusandae tenetur, minus?</p>
        </div>
        <div class="info-home DF FW w-20">
          <div class="w-100"><i class="icon-medium icon-center icon-font"></i></div>
          <p class="w-100 Upper text-center font-1 bold tamfont5 color-2 LH4">Tipografia</p>
          <p class="text-center tamfont4 color-2 font-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate mollitia recusandae tenetur, minus?</p>
        </div>
        <div class="info-home DF FW w-20">
          <div class="w-100"><i class="icon-medium icon-center icon-mockup"></i></div>
          <p class="w-100 Upper text-center font-1 bold tamfont5 color-2 LH4">MockUp UI Interativo</p>
          <p class="text-center tamfont4 color-2 font-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate mollitia recusandae tenetur, minus?</p>
        </div>
      </div>
    </div> 
    </section>
    <div class="container-FH PR">
      <div class="PA w-100 DF FW">
        <div class="carrossel-back w-100 DF FW">
          <div class="w-16 car-item-front">
            <i class="icon-center icon-medium icon-api-nw w-100"></i>
          </div>
          <div class="w-16 car-item-front">
            <i class="icon-center icon-medium icon-brain-nw w-100"></i>
          </div>
          <div class="w-16 car-item-front">
            <i class="icon-center icon-medium icon-expe-nw w-100"></i>
          </div>
          <div class="w-16 car-item-front">
            <i class="icon-center icon-medium icon-UX-nw w-100"></i>
          </div>
          <div class="w-16 car-item-front">
            <i class="icon-center icon-medium icon-visao-comp-nw w-100"></i>
          </div>
          <div class="w-16 car-item-front">
            <i class="icon-center icon-medium icon-UI-elements-nw w-100"></i>
          </div>
        </div>
        <div class="carrossel-front  w-100 DF FW">
            <div class="w-16 bgcolor-2 car-item-front">
              <i class="icon-center icon-medium icon-api w-100"></i>
              <p class="text-center w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ipsum sed sapien laoreet convallis. In suscipit magna sit amet diam tempus dapibus. </p>
            </div>
            <div class="w-16 bgcolor-2 car-item-front">
              <i class="icon-center icon-medium icon-brain w-100"></i>
              <p class="text-center w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ipsum sed sapien laoreet convallis. In suscipit magna sit amet diam tempus dapibus. </p>
            </div>
            <div class="w-16 bgcolor-2 car-item-front">
              <i class="icon-center icon-medium icon-expe w-100"></i>
              <p class="text-center w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ipsum sed sapien laoreet convallis. In suscipit magna sit amet diam tempus dapibus. </p>
            </div>
            <div class="w-16 bgcolor-2 car-item-front">
              <i class="icon-center icon-medium icon-UX w-100"></i>
              <p class="text-center w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ipsum sed sapien laoreet convallis. In suscipit magna sit amet diam tempus dapibus. </p>
            </div>
            <div class="w-16 bgcolor-2 car-item-front">
              <i class="icon-center icon-medium w-100"></i>
              <p class="text-center w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ipsum sed sapien laoreet convallis. In suscipit magna sit amet diam tempus dapibus. </p>
            </div>
            <div class="w-16 bgcolor-2 car-item-front">
              <i class="icon-center icon-medium icon-UI-elements w-100"></i>
              <p class="text-center w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ipsum sed sapien laoreet convallis. In suscipit magna sit amet diam tempus dapibus. </p>
            </div>
        </div>
      </div>
      <img src="img/banner-home.png">
    </div>
    <% include ../commom/footer.ejs %>
</body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/default.js"></script>
</html>