<!DOCTYPE html>
<head>
  <title>MoodSigth</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <% include ../commom/header.ejs %> 
  <section id="conteudo-body">
    <div class="w-100 DF FW">
      <div class="w-70 DF FW">
        <div class="logoFull-cont w-50">
          <img src="img/logo-full.png" alt="Logo completo da MoodSight">
        </div>
        <div class="w-50">
          <h4 class="tamfont6 title-chamada font-1 color-2 bold">Expanda suas possibilidades, dê forma as suas ideias e teste seus conceitos.</h4>
        </div>
        <ul class="w-50 DF FW CSA">
          <li class="pal-item-home w-100 bgcolor-1"></li>
          <li class="pal-item-home w-100 bgcolor-2"></li>
          <li class="pal-item-home w-100 bgcolor-3"></li>
          <li class="pal-item-home w-100 bgcolor-4"></li>
          <li class="pal-item-home w-100 bgcolor-5"></li>
        </ul>
        <div class="w-50">
          <p class="text-chamada font-1 tamfont4 color-2">Um site que te ajuda durante seu processo criativo, te fornece recursos, conteúdo e te ajuda a testar suas ideias e conceitos focando nas tuas decisões de Ui/UX do seu projeto.</p>
        </div>
      </div>
      <div class="w-30">
        <button onclick="pintrestLogin()" class="btn btn-login DF CS color-2 tamfont2 font-1 Upper">Comece seu projeto com  <span class="bold"> Pinterest</span><img src="img/pinterest.svg" class="icon-small" alt="Pinterest Logo"></button>
      </div>
    </div>
    <div class="video-container"></div>
    <div>
      <h4 class="text-center font-1 tamfont6 bold color-2 w-40">Uma ferramenta de design flexível que melhora seu fluxo de trabalho.</h4>
      <p class="text-center font-1 tamfont6 bold color-2 w-50">Agilize seu processe criativo e foque em decisões de UI/UX prototipando seu projeto com nosso material design kit e a base levantada com a análise de cor do seu moodboard do pinterest pela nossa Inteligência Artificial.</p>
      <div class="w-80 DF FW info-home-cont">
        <div class="info-home DF FW">
          <div class="w-100"><img src="img/bars.svg" alt="" class="icon-center icon-small"></div>
          <p class="w-100 Upper text-center font-1 bold">Paletas de Cores</p>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur reiciendis impedit voluptatum quis tenetur, cumque amet maiores, debitis, voluptate blanditiis quaerat nemo fugit culpa beatae quod soluta magni quidem dignissimos.</p>
        </div>
        <div class="info-home DF FW">
          <div class="w-100"><img src="img/bars.svg" alt="" class="icon-center icon-small"></div>
          <p class="w-100 Upper text-center font-1 bold">Elementos UI</p>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus quia vero laborum placeat, ipsum iusto tempora quae quibusdam, nemo velit suscipit non natus hic doloremque nihil harum doloribus adipisci.</p>
        </div>
        <div class="info-home DF FW">
          <div class="w-100"><img src="img/bars.svg" alt="" class="icon-center icon-small"></div>
          <p class="w-100 Upper text-center font-1 bold">Icones</p>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate mollitia recusandae tenetur, minus? Iste perferendis repellendus architecto quia tempore sequi quod libero esse quibusdam minima labore doloremque, laborum illum veritatis?</p>
        </div>
        <div class="info-home DF FW">
          <div class="w-100"><img src="img/bars.svg" alt="" class="icon-center icon-small"></div>
          <p class="w-100 Upper text-center font-1 bold">Tipografia</p>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iste totam, necessitatibus quia dolorum dignissimos praesentium, molestias deleniti tenetur autem pariatur quam harum laboriosam provident ut ipsum nostrum consectetur vel.</p>
        </div>
        <div class="info-home DF FW">
          <div class="w-100"><img src="./public/img/Typo%20Icon.svg" alt="" class="icon-center icon-small"></div>
          <p class="w-100 Upper text-center font-1 bold">MockUp UI Interativo</p>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolor impedit hic fugit, minima. Illo ipsam deserunt quam officiis aliquid quasi dignissimos nisi aut porro voluptas aperiam, architecto libero reprehenderit.</p>
        </div>
      </div>
    </div>
    <% include ../commom/footer.ejs %> 
    </section>
    <div class="container-FH">
      <img src="img/BANNER_05.png">
    </div>
</body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/default.js"></script>
</html>