<!DOCTYPE html>
<head>
  <title>MoodSigth - Informação</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <% include ../commom/header.ejs %> 
  <section class="conteudo-body P-400 bg-pattern-1">
    <div class="text-pages">
      <h1 class="Upper font-1 bold tamfont5 title w-100 DF CS color-2 PR"><i class="icon-medium  icon-info-col"></i>Sobre</h1>
      <div class="video-container">
        <iframe id="ytplayer" type="text/html" width="100%" height="100%"
        src="https://www.youtube.com/embed/h98YPHubqvg?hl=pt-br&modestbranding=1&rel=0&showinfo=0&color=white"
        frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="w-50 tamfont4 align-center">
        <h2 class="text-center tamfont5 Upper color-2 font-1 bold M-400">O que é a moodsight?</h2>
        <p class="tamfont1 text-center color-2 font-1 M-200 LH3" style="margin-bottom: 60px;">Moodsight é uma plataforma de experimentação de design digital com ferramentas que utilizam inteligência artificial para expandir a capacidade produtiva de designers. </p>
      </div> 
      <div class="w-100  DF FW">
        <div class="w-50"><img src="/img/Banner-sobre.png" alt="Banner mostrando a diagramação do simbolo da Moodsight"></div>
        <div class="w-50">
          <p class="tamfont5 font-1 color-2 mx860 text-pages LH3">
            <span class="tamfont4 bold Upper">O propósito da ferramenta?</span><br><br>
            Nós designers sabemos a quantidade de passos que temos que seguir para concretizarmos um bom projeto, muitos desses passos levam tempo, gastam energia, exigem disposição, as vezes entre esses passos encontramos atividades repetitivas e que esgotam nossa criatividade. Com o objetivo de exercer mais confortávelmente a criatividade e diminuir alguns desses passos exaustivos criamos o Moodsight.<br><br>

            Moodsight tem como propósito principal auxiliar na produtividade de designers na criação de interfaces com auxillio de inteligência artificial e também propagar o uso de I.A. como ferramenta de expânsão da capacidade criativa.
          </p>
        </div>
    </div>
  </section>
  <div id="result"></div>
  <% include ../commom/footer.ejs %>
</body>
<% include ../commom/tags-footer.ejs %>
</html>