<!DOCTYPE html>
<head>
  <title>MoodSigth - Informação</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <% include ../commom/header.ejs %> 
  <section class="conteudo-body P-400 bg-pattern-1">
    <div class="text-pages">
      <h1 class="Upper font-1 bold tamfont5 title w-100 DF CS color-2 PR"><i class="icon-medium  icon-info-col"></i>Sobre</h1>
      <div class="video-container">
        <iframe id="ytplayer" type="text/html" width="100%" height="100%"
        src="https://www.youtube.com/embed/h98YPHubqvg?hl=pt-br&modestbranding=1&rel=0&showinfo=0&color=white"
        frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="w-50 tamfont4 align-center">
        <h2 class="text-center tamfont5 Upper color-2 font-1 bold M-400">O que é a moodsight?</h2>
        <p class="tamfont1 text-center color-2 font-1 M-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo ac mauris pharetra sollicitudin. Nam eu mattis enim, ut elementum nunc. Suspendisse ultricies sollicitudin justo, sit amet dignissim mauris sollicitudin ac. Cras vel eros sit amet lorem auctor maximus. Praesent convallis aliquet enim in pellentesque. Ut eu lacus pulvinar justo gravida sagittis quis sit amet mi. Proin ullamcorper ornare nulla, at ornare urna commodo eget. Morbi et ornare turpis. Mauris id tincidunt lorem, sit amet gravida enim. Sed risus tellus, venenatis vestibulum ligula nec, euismod bibendum quam. Integer at justo ut arcu facilisis dignissim eget fermentum nulla. Praesent lobortis semper sapien ac varius. Cras suscipit ipsum ut turpis tincidunt, non tempor libero tempus.</p>
      </div> 
      <div class="w-100  DF FW">
        <div class="w-50"><img src="/img/Banner-sobre.png" alt="Banner mostrando a diagramação do simbolo da Moodsight"></div>
        <div class="w-50">
          <p class="tamfont5 font-1 color-2 mx860 text-pages LH3">
            <span class="tamfont4 bold Upper">O propósito da ferramenta?</span><br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo ac mauris pharetra sollicitudin. Nam eu mattis enim, ut elementum nunc. Suspendisse ultricies sollicitudin justo, sit amet dignissim mauris sollicitudin ac. Cras vel eros sit amet lorem auctor maximus. Praesent convallis aliquet enim in pellentesque. Ut eu lacus pulvinar justo gravida sagittis quis sit amet mi. Proin ullamcorper ornare nulla, at ornare urna commodo eget. Morbi et ornare turpis. Mauris id tincidunt lorem, sit amet gravida enim. Sed risus tellus, venenatis vestibulum ligula nec, euismod bibendum quam. Integer at justo ut arcu facilisis dignissim eget fermentum nulla. Praesent lobortis semper sapien ac varius. Cras suscipit ipsum ut turpis tincidunt, non tempor libero tempus.
          </p>
        </div>
    </div>
  </section>
  <div id="result"></div>
  <% include ../commom/footer.ejs %>
</body>
<% include ../commom/tags-footer.ejs %>
</html>