<!DOCTYPE html>

<head>
  <title>MoodSigth - Ajuda</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <style>
    .banner-ajuda2 {
      background: url(/img/banner-ajuda_03.png) no-repeat;
      background-size: cover;
      height: 250px;
      margin: 20px 0;
      padding: 20px 0;

    }

    .pad-top {

      padding-top: 30px;
    }

    .icon-ajuda-col {
      background-image: url(../img/ajuda~hover.svg);
      background-repeat: no-repeat;
    }


    .padmascot2 {

      margin-right: 940px;
      margin-top: 1260px;
    }

    .paddica {
      margin-top: -15px;
      margin-left: 380px;


    }

    .mx360 {
      max-width: 360px;


    }

    .icon-maismaior {
      width: 90px;
      display: block;
      height: 90px;
      background-size: 90px 90px;

    }

    .pad-dicabanner {
      margin-left: 910px;
      margin-top: -400px;
    }

    .loco {
      height: 400px;
    }
  </style>


</head>

<body>
  <% include ../commom/header.ejs %>
    <section class="conteudo-body P-400 bg-pattern-1">
      <div class="text-pages">
        <h1 class="Upper font-1 bold tamfont5 title w-100 DF CS color-2 PR">
          <i class="icon-medium  icon-ajuda-col "></i>Ajuda</h1>
        <div class="w-50 tamfont4 align-center">
          <h2 class="text-center tamfont5 Upper color-2 font-1 bold M-400">Como usar a ferramenta?</h2>
          <p class="tamfont1 text-center color-2 font-1 M-200 LH3" style="margin-bottom: 60px;">Moodsight é uma plataforma de experimentação de design digital com ferramentas que utilizam inteligência artificial
            para expandir a capacidade produtiva de designers. </p>
        </div>
        <div class="w-100  DF FW">
          <div class="w-50">
            <img src="/img/ajuda-banner.png" alt="Banner mostrando formas geometricas">
          </div>
          <div class="w-50">
            <p class="tamfont5 font-1 color-2 mx860 text-pages LH3">
              <span class="tamfont5 bold Upper">PASSO A PASSO</span>
              <br>
              <br> Explore tudo o que temos a oferecer, durante a utilização da plataforma Moodsight você irá encontrar suporte
              na pagina de biblioteca de conteúdo, com recursos, informações, matérias e artigos sobre Design, UX, UI, e
              inteligência artificial, após o login na plataforma fica disponível o download do Material Kit Gratuito para
              facilitar o seu processo de prototipação e ao subir um painel para o sistema é possivel experimentar e testar
              a paleta de cor predominante em alguns elementos de UI, tipografia, icones e um mockup interativo.
            </p>
          </div>
        </div>


    </section>
    <section class="conteudo-body DF FW bgcolor-6">
      <div class="w-100 banner-ajuda2 DF FW ">
        <div class="w-70 text-pages pad-top ">
          <p class="tamfont5 font-1 color-1 mx860 text-pages LH3  ">
            <span class="tamfont4 bold Upper">AS POSSIBILIDADES</span>
            <br>
            <br> Aproveite tudo oque oferecemos, faça login e baixe o Material kit gratuito, teste seus moodboards e gere uma
            paleta de cor automaticamente com ajuda da nossa inteligência artificial Ocho.

          </p>
        </div>
      </div>

    </section>
    <section class="conteudo-body DF FW bgcolor-6">
      <div class="w-70 text-pages pad-top ">
        <p class="tamfont5 font-1 color-2 mx860 text-pages LH3  ">
          <span class="tamfont4 bold Upper">INFOMAÇÕES E OPÇÕES</span>
          <br>
          <br> Aproveite tudo oque oferecemos, faça login e baixe o Material kit gratuito, teste seus moodboards e gere uma paleta
          de cor automaticamente com ajuda da nossa inteligência artificial Ocho que também irá te ajudar durante a jornada
          no site.
          <br>
          <br>
        </p>
      </div>
      <div class="w-100  DF FW">

        <div class="PA cont-masc-home DF FW ">
          <i class=" icon-Xlarge mascot-home padmascot2  "></i>

        </div>
      </div>


      <div class="w-100  DF FW">
        <div class="w-35">
          <i class=" icon-maismaior  icon-help paddica"></i>
        </div>
        <div class="w-65">

          <p class="tamfont4 font-1 color-2 mx360 text-pages LH3">
            <span class="tamfont4 bold Upper">ícone do mascote “ocho”</span>
            <br>
            <br> O icone aparece em partes especificas de páginas ao ser clicado ele te dá informações e dicas rapidas. O mascote
            aparece em algumas páginas que necesitam maior explicação.
          </p>
        </div>
      </div>

      <div class="w-100  DF FW ">
      </div>
      <div class=" w-40 pad-dicabanner">
        <img src="/img/dicas-banner.png" alt="Banner mostrando formas geometricas">
      </div>
      <div class="w-50">

      </div>


    </section>


    </div>
    <div id="result"></div>
    <% include ../commom/footer.ejs %>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/default.js"></script>

</html>