<header role="menubar" id="menu" class="PF DF FW">
  <a class="logo-cont" href="/"><img src="/img/icon-100x100.png" alt="LogMoodSight"></a>
  <nav class="navigation-menu DF FW container-100">
    <a role="menuitem" class="container-100 text-center menu-item color-Upper DF FW" href="/Sobre">
      <i class="fas fa-info-circle tamfont4 container-100 MRL-auto"></i>
    </a>
    <a role="menuitem" class="container-100 text-center menu-item color-Upper DF FW" href="/Ajuda">
      <i class="fas fa-question-circle tamfont4 container-100 MRL-auto"></i>
    </a>
    <a role="menuitem" class="container-100 text-center menu-item color-Upper DF FW" href="/Contato">
      <i class="fas fa-envelope tamfont4 container-100 MRL-auto"></i>
    </a>
  </nav>
</header>