<!DOCTYPE html>

<head>
  <title>MoodSigth - Biblioteca-de-Conteudo</title>
  <% include ../commom/tags-header.ejs %>
</head>

<body>
    <% if(!login){%>
      <%  include ../commom/header.ejs %>
    <% } else { %>
      <%  include ../commom/headerOn.ejs %>
    <% } %>
    <section id="conteudo-header" class="PR bg-gradient-3">
      <div class="w-70 h-100 DF FW tamfont1">
        <h1 class="Upper font-1 bold tamfont5 title w-100 DF CS color-1 PR">
          <i class="icon-medium icon-biblioteca-conteudo-col Upper"></i>Biblioteca de conteúdo</h1>
        <h4 class="Upper font-1 tamfont3 bold sub-title color-1">heurísticas DE USABILIDADE</h4>
        <p class="tamfont2 font-1 color-1 mx860 intro">Usabilidade é um termo usado para definir a facilidade com que as pessoas podem empregar uma ferramenta ou objeto
          a fim de realizar uma tarefa específica e importante. A usabilidade pode também se referir aos métodos de mensuração
          da usabilidade e ao estudo dos princípios por trás da eficiência percebida de um objeto.</p>
      </div>
      <div class="car PA">
        <ul data-car="0" class="car-cont DF FW CSP tamfont3">
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">1</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Visibilidade de Status do Sistema</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Você precisa se certificar de que a interface sempre informe ao usuário o que está acontecendo,ou seja, todas
              as ações precisam de feedback instantâneo para orientá-lo. </p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">2</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Relacionamento entre a interface do sistema e o mundo real</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Não usar palavras de sistema, que não fazem sentido pro usuário. Toda a comunicação do sistema precisa ser contextualizada
              ao usuário, e ser coerente com o chamado modelo mental do usuário. </p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">3</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Liberdade e controle do usuário</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Facilite as “saídas de emergência” para o usuário, permitindo desfazer ou refazer a ação no sistema e retornar
              ao ponto anterior, quando estiver perdido ou em situações inesperadas.</p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">4</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Consistência</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Fale a mesma língua o tempo todo, e nunca identifique uma mesma ação com ícones ou palavras diferentes. Trate
              coisas similares, da mesma maneira, facilitando a identificação do usuário.</p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">5</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Prevenção de erros</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Na tradução livre das palavras do próprio Nielsen “Ainda melhor que uma boa mensagem de erro é um design cuidadoso
              que possa prevenir esses erros”. Por exemplo, ações definitivas, como deleções ou solicitações podem vir acompanhadas
              de um checkbox ou uma mensagem de confirmação.</p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">6</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Reconhecimento ao invés de lembrança</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Evite acionar a memória do usuário o tempo inteiro, fazendo com que cada ação precise ser revista mentalmente
              antes de ser executada. Permita que a interface ofereça ajuda contextual, e informações capazes de orientar
              as ações do usuário – ou seja – que o sistema dialogue com o usuário.</p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">7</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Flexibilidade e eficiência de uso</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">O sistema precisa ser fácil para usuários leigos, mas flexível o bastante para se tornar ágil à usuários avançados.
              Essa flexibilidade pode ser conseguida com a permissão de teclas de atalhos, por exemplo. No caso de websites,
              uso de máscaras e navegação com tab em formulários são outros exemplos.</p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">8</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Estética e design minimalista</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Evite que os textos e o design fale mais do que o usuário necessita saber. Os “diálogos” do sistema precisam
              ser simples, diretos e naturais, presentes nos momentos em que são necessários.</p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">9</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Ajude os usuários a reconhecer, diagnosticar e sanar erros</h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">As mensagens de erro do sistema devem possuir uma redação simples e clara que ao invés de intimidar o usuário
              com o erro, indique uma saída construtiva ou possível solução.</p>
          </li>
          <li class="PR car-item bgcolor-8 DIB">
            <span class="PA car-number font-1 color-2 DB bgcolor-6 tamfont4 text-center">10</span>
            <h4 class="car-title bold font-1 color-1 text-center tamfont3 LH2 DF FW CSS">Ajuda e documentação </h4>
            <p class="bold font-1 color-1 tamfont2 car-text LH3 DF FW CSS">Um bom design deveria evitar ao máximo à necessidade de ajuda na utilização do sistema. Ainda assim, um bom conjunto
              de documentação e ajuda deve ser utilizado para orientar o usuário em caso de dúvida. Deve ser visível, facilmente
              acessada, e com oferecer uma ferramenta de busca na ajuda.</p>
          </li>
        </ul>
        <ul class="setas PA">
          <li id="setaE" class="btn setaE">
            <i class="icon-small icon-seta-esquerda"></i>
          </li>
          <li id="setaD" class="btn setaD">
            <i class="icon-small icon-seta-direita"></i>
          </li>
        </ul>
      </div>
    </section>
    <section class="biblioteca-conteudo conteudo-body bg-pattern-1">
      <p class="tamfont3 font-1 color-2 mx860 text-pages LH3">
        Além das dez heurísticas de Nielsen, existem outros principios para implementar interfaces eficazes.
        <br>
        <strong class="bold tamfont2">Apresente as etapas do processo</strong>
        <br> Sequências de ações devem ser organizadas em grupos com início, meio e fim. O feedback informativo ao completar
        um grupo de ações dá ao usuário satisfação de realização, senso de distinção e uma indicação que o caminho é claro
        para se preparar para o próximo conjunto de ações.
        <br>
        <br>
        <strong class="bold tamfont2">Faça uma navegação clara e eficiente</strong>
        <br> Uma boa navegação ajuda o usuário a saber onde ele está e para onde quer ir. Os segredos de uma navegação eficiente
        incluem:
        <br>
        <span class="paragraphList tamfont1">Organização - separa as areas mais e menos importantes, reflete como as pessoas pensam e as prioridades do negócio;</span>
        <span class="paragraphList tamfont1">Dentro do "triângulo de ouro";</span>
        <span class="paragraphList tamfont1">Compacta, para deixar espaço para o conteúdo;</span>
        <span class="paragraphList tamfont1">Rótulos (labels) curtos;</span>
        <span class="paragraphList tamfont1">Mostra visualmente, com clareza, onde o usuário está; e</span>
        <span class="paragraphList tamfont1">Exemplo navegação clara</span>
        <br>
        <br>
        <strong class="bold tamfont2">Título das páginas reforça a navegação e orienta o usuário</strong>
        <br> Os elementos que tornam o título das páginas eficaz são:
        <span class="paragraphList tamfont1">(Quase) sempre estão no mesmo lugar;</span>
        <span class="paragraphList tamfont1">Está destacado visulamente;</span>
        <span class="paragraphList tamfont1">É curto;</span>
        <span class="paragraphList tamfont1">O nome coincide com o que está na navegação;</span>
        <span class="paragraphList tamfont1">É consistente na capitalização das letras.</span>
        <br>
        <br>
        <strong class="bold tamfont2">Botões e Links</strong>
        <br> Normalmente, use botões para tarefas (ações), principalmente as primárias, e links para navegação.
        <br>
        <br>
        <strong class="bold tamfont2">Separe suas tarefas primárias, secundárias e terciárias</strong>
        <br> Dê às tarefas primárias lugar de destaque e foco visual. Tente limitar a uma ou duas tarefas primárias por página.
        <br>
        <br>
        <strong class="bold tamfont2">Deixe sua interface rápida</strong>
        <br> A aqui não estamos falando só de tempo de carregamento! Ela deve ser fácil de escanear e ver o que fazer, possibilitar
        o mínimo de cliques para ir de um lugar a outro ou para completar uma tarefa.
        <br>
        <br>
        <strong class="bold tamfont2">Mantenha proximidade</strong>
        <br> Itens relacionados devem se manter próximos.
        <br>
        <br>
        <strong class="bold tamfont2">Seletivamente copie interações comuns e já comprovadas</strong>
        <br> Inove só onde há algo único.
        <br>
        <br>
        <strong class="bold tamfont2">Design visual deve ter total conexão com o de interação</strong>
        <br> O design visual deve ajudar o de interação a atender os requisitos do produto. Nunca o design visual pode estragar
        um trabalho de interação bem feito.
        <br>
        <br>
        <strong class="bold tamfont2">Menos é mais</strong>
        <br> Interfaces do Usuário incríveis devem ser quase invisíveis.</p>
    </section>
    <section class="conteudo-body P-440 bg-gradient-1">
      <p class="tamfont3 font-1 color-1 text-pages mx860 LH3">
        <strong class="bold tamfont2 Upper">Padrões de Design em user interface</strong>
        <br>
        <br> Os padrões de design de User Interface são soluções recorrentes que resolvem problemas comuns de um projeto. Os
        padrões de design são pontos de referência padronizados para o designers de interface.
        <br>
      </p>
    </section>
    <section class="conteudo-body bgcolor-7">
      <div class="tabs tab-master tamfont3 DF FW CSP">
        <a href="#pegando-input" class="tab-master-item btn tamfont3 font-1 color-1" id="defaultOpenMaster">Pegando o Input</a>
        <a href="#navegacao" class="tab-master-item btn tamfont3 font-1 color-1">Navegação</a>
        <a href="#lidando-dados" class="tab-master-item btn tamfont3 font-1 color-1">Lidando com dados</a>
        <a href="#social" class="tab-master-item btn tamfont3 font-1 color-1">Social</a>
        <a href="#onboarding" class="tab-master-item btn tamfont3 font-1 color-1">Onboarding</a>
      </div>
      <div id="pegando-input" class="tabs cont-tab-second">
        <div class="tab-second bgcolor-9 tamfont3 DF FW ">
          <a href="#dragdrop" class="tab-second-item btn color-1 tamfont1 font-1 " id="defaultOpenCatch">Drag and drop</a>
          <a href="#captcha" class="tab-second-item btn color-1 tamfont1 font-1">Captcha</a>
          <a href="#inpufeed" class="tab-second-item btn color-1 tamfont1 font-1">Input feedback</a>
          <a href="#medidor" class="tab-second-item btn color-1 tamfont1 font-1">Medidor força de senha</a>
          <a href="#undo" class="tab-second-item btn color-1 tamfont1 font-1">Desfazer</a>
        </div>
        <div id="dragdrop" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Drag and drop</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> O usuário precisa executar operações em um ou mais objetos, movendo-os de um lugar para outro.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> Permitir que os usuários selecionem e reorganizem o conteúdo arrastando-o pela tela.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br> Use quando você quiser evitar forçar o usuário a ir para outra página, a fim de reorganizar o layout.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> Instintivamente, muitos usuários tentam arrastar e soltar objetos nas interfaces. Essa metáfora conceitual com
            laços claros com o mundo físico fornece um nível de manipulação direta que poucos métodos podem igualar. Ele
            é visto como uma das maneiras mais eficazes de reorganizar itens em uma lista, mover objetos de um lugar para
            outro ou até fazer upload de arquivos.
          </p>
        </div>
        <div id="captcha" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Captcha</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> A aplicação precisa verificar se os dados enviados são originados de um ser humano real e não de um robô.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> A forma mais popular de Captchas são imagens que representam letras e números. O usuário é solicitado a identificar
            e escrever.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br> Para evitar o spam, os captchas são introduzidos.Use quando seu web app sofrer ataques de robôs da Web mal-intencionados
            tentando postar conteúdo de spam em seu site, para proteger seu site de robôs automatizados e quando a capacidade
            de publicar conteúdo em seu site não estiver bloqueada pela necessidade de estar logado. Os processos de registro
            estão incluídos
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> Os Captchas são a abreviação de "Completely Automated Public Turing test to tell Computers and Humans Apart".
            A ideia por trás do Captchas é distinguir humanos de computadores, permitindo que o usuário execute uma ação
            que um computador não pode fazer. Um captcha é um teste simples de Turing.
          </p>
        </div>
        <div id="inpufeed" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Input feedback</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> O usuário inseriu dados no sistema e espera receber feedback sobre o resultado dessa submissão.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> O objetivo desse padrão é melhorar a experiência do usuário, minimizando os erros de entrada.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br> Quando usuário ao enviar conteúdo para seu site.Use quando você quiser notificar seus usuários sobre erros que
            ocorreram durante o envio do formulário, quando quiser que seus usuários saibam que tudo correu como planejado
            no envio do conteúdo.

          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> Os dados inseridos em formulários da Web são propensos a conter erros, para os quais devemos estar preparados
            em nosso projeto. O usuário deve estar ciente do fato de que os dados inseridos não correspondem à estrutura
            que projetamos. Usando avisos de feedback visualmente distintos, o usuário será alertado sobre esses erros e
            como corrigi-los.
          </p>
        </div>
        <div id="medidor" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Medidor força de senha</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> Você quer garantir que as senhas de seus usuários sejam suficientemente fortes para evitar ataques mal-intencionados.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> A força da senha também é indicada apropriadamente colorindo uma barra em uma cor associativa com bom ou ruim:
            Verde indicando uma senha forte e vermelha indicando uma senha fraca.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br> Use quando você quiser aumentar a complexidade das senhas de seus usuários e aumentar a barreira para invasores
            violarem seu sistema, quando quiser ter certeza de que seus usuários sabem o que é uma boa senha e que a senha
            escolhida segue essas diretrizes.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> Usando um indicador de força de senha no site, adiciona outro nível de segurança ao site. Isso não só torna
            os usuários atuais do site mais confiante e com sensação de segurança, mas os clientes em potencial podem usar
            isso como um requisito ao decidir realizar negócios com uma empresa.
          </p>
        </div>
        <div id="undo" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Desfazer</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> O usuário deseja reverter uma entrada equivocada.
          </p>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> Permitir que os usuários revertam facilmente suas próprias ações.
          </p>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br> Use quando você quiser fornecer aos usuários mais confiança e disposição para brincar. Quanto mais importante
            for a ação, mais importante é fornecer desfazer. Sempre que há uma oportunidade de perder o trabalho, o programa
            deve permitir desfazer ações.

          </p>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> Os usuários não são perfeitos - eles tendem a cometer erros. Promova uma exploração segura e lúdica, fornecendo
            confiança de que os erros não são permanentes. O recurso de vários níveis permite que os usuários construam e
            explorem de maneira incremental caminhos de trabalho de maneira rápida e fácil. Quanto mais custoso é perder
            dados, mais importante é oferecer a oportunidade de desfazer.
          </p>
        </div>
      </div>
      <div id="navegacao" class="tabs cont-tab-second">
        <div class="tab-second bgcolor-9 tamfont3 DF FW ">
          <a href="#guimod" class="tab-second-item btn color-1 tamfont1 font-1" id="defaultOpenNav">Guias modulares</a>
          <a href="#breadCrumb" class="tab-second-item btn color-1 tamfont1 font-1">Migalha de pão</a>
          <a href="#cartoes" class="tab-second-item btn color-1 tamfont1 font-1">Cartões</a>
          <a href="#dropvert" class="tab-second-item btn color-1 tamfont1 font-1">Dropdown vertical</a>
          <a href="#categoriza" class="tab-second-item btn color-1 tamfont1 font-1">Categorização</a>
        </div>
        <div id="guimod" class="cont-infoBC DF FW CSP tamfont3 ">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Guias modulares</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> O conteúdo precisa ser separado em seções e acessado por meio de uma única área de conteúdo usando uma estrutura de navegação simples que não atualiza a página quando selecionada.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> Apresentar o conteúdo de uma guia dentro de uma caixa (área de conteúdo), evite ter mais de uma linha de links na barra da guia horizontal superior e use cores ou outro suporte visual para indicar qual guia está sendo visualizada no momento.            
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br>Use quando houver espaço visual limitado e o conteúdo precisar ser separado em seções, quando houver entre 2 a 9 seções de conteúdo que precisem de um modo de navegação simples,  quando precisar manter a atenção do usuário contornando a atualização da página.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> O padrão das guias de Navegação é uma extensão da metáfora da área de trabalho na qual os objetos físicos são representados como elementos da Interface. As guias de navegação são derivadas da ideia de pastas em um gabinete de arquivos e, portanto, são familiares para o usuário final. As guias modulares fornecem uma maneira fácil de mostrar grandes quantidades de dados estruturados similares divididos por categorias.
          </p>
        </div>
        <div id="breadCrumb" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Migalha de pão</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> O usuário precisa saber sua localização na estrutura hierárquica do site para possivelmente voltar a um nível mais alto na hierarquia.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> Revele a localização hierárquica do usuário e forneça links para níveis mais altos. Mostrar os rótulos das seções no caminho hierárquico que levam à página atual sendo visualizada, cada etiqueta é um link para uma seção.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br> Use quando a estrutura do site segue uma estrutura hierárquica estrita de conteúdo formatado semelhante, quando a estrutura do site é particionada em seções que podem ser divididas em mais subseções e assim por diante, utilize junto de uma navegação principal.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> A migalha de pão serve como um auxílio visual eficaz, indicando a localização do usuário na hierarquia do website, tornando-o uma ótima fonte de informações contextuais para as páginas de destino. Além disso, permitem uma fácil navegação para páginas de nível superior.
          </p>
        </div>
        <div id="cartoes" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Cartões</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br>O usuário precisa procurar conteúdo de vários tipos e tamanhos.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> Exibe pontos de entrada para conteúdo detalhado e variado em formas semelhantes. Um cartão pode conter uma foto, um texto e um link sobre um único assunto. Geralmente contêm diferentes tipos de mídias.            
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br>Use para mostrar elementos cujo tamanho ou ações compatíveis variam, como fotos com legendas de tamanho variável.
            Como uma coleção, consiste em vários tipos de dados (imagens, filmes, texto), poder conter conteúdo interativo ou pode ser usado para juntar informações.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> A navegação é uma grande parte da interação, e os usuários desejam escanear rapidamente grandes partes do conteúdo e aprofundar seus interesses. Os usuários podem ter dificuldades para pesquisar sites com texto pesado, já que a exibição de detalhes extras para cada item pode confundir a tela e impedir a verificação eficiente. Os cartões são ótimos para mostrar elementos agregados cujo tamanho ou ações suportadas variam.
          </p>
        </div>
        <div id="dropvert" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Dropdown vertical</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> O usuário precisa navegar entre as seções de um site, mas o espaço para mostrar essa navegação é limitado.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br> Uma vez que o usuário tenha o cursor do mouse sobre um dos itens da lista principal de navegação, uma lista suspensa de novas opções é mostrada abaixo do item da lista para o qual o cursor do mouse está apontando. O usuário pode o item de menu que ele deseja clicar.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br>Use quando houver entre 2 a 9 seções de conteúdo que precisem de uma estrutura de navegação hierárquica. Não use quando houver necessidade de destacar o local da seção atual do site. Em seguida, use as guias de navegação.
          </p>
          <p class="DB infoBC tamfont1 font-1 color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> Menus Dropdown economizam espaço. Esta é a principal razão para usá-los. Em contramão, os menus Dropdown não são considerados como uma técnica que aumenta a usabilidade, pois podem ser difíceis de usar.
          </p>
        </div>
        <div id="categoriza" class="cont-infoBC DF FW CSP tamfont3">
          <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Categorização</h4>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Resumo do problema</span>
            <br>
            <br> O usuário deseja entender o conteúdo navegando e agrupando-os em categorias.
          </p>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Solução</span>
            <br>
            <br>Permitir que os usuários categorizem o conteúdo em uma seção hierárquica. Permitir que os usuários selecionem uma categoria hierárquica e possivelmente aninhada para seu conteúdo que corresponda à categorização hierárquica do próprio site.
          </p>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Utilização</span>
            <br>
            <br> Use quando o conteúdo do seu site for mapeado de forma editorial para uma categoria ou seção principal.
          </p>
          <p class="DB infoBC tamfont1 font-1  color-1">
            <span class="bold tamfont2">Racionalização</span>
            <br>
            <br> Categorização é o processo no qual ideias e objetos são reconhecidos, diferenciados e compreendidos. As categorias nos ajudam a entender o mundo de maneira mais rápida e fácil. Procuramos categorizar tudo o que experimentamos na tentativa de explicar como o mundo funciona - como nosso conhecimento é representado no mundo real.
          </p>
        </div>
      </div>
      <div id="lidando-dados" class="tabs cont-tab-second">
          <div class="tab-second bgcolor-9 tamfont3 DF FW ">
            <a href="#autocomplet" class="tab-second-item btn color-1 tamfont1 font-1" id="defaultOpenNav">Autocompletar</a>
            <a href="#filtroBusc" class="tab-second-item btn color-1 tamfont1 font-1">Filtros de busca</a>
            <a href="#galeria" class="tab-second-item btn color-1 tamfont1 font-1">Galeria</a>
            <a href="#corcol" class="tab-second-item btn color-1 tamfont1 font-1">Cores de colunas</a>
            <a href="#filtrotabela" class="tab-second-item btn color-1 tamfont1 font-1">Filtro de tabela</a>
          </div>
          <div id="autocomplet" class="cont-infoBC DF FW CSP tamfont3 ">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Autocompletar</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> O usuário precisa de uma pesquisa auxiliada por reconhecimento ao executar tarefas de pesquisa difíceis de lembrar ou digitadas com facilidade.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Sugira possíveis correspondências para uma pesquisa enquanto os usuários estão digitando. O padrão Autocomplete é um mecanismo preditivo baseado em reconhecimento usado para auxiliar os usuários durante a pesquisa.          
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use para ajudar com problemas de ambigüidade, quando um item pode ser inserido de várias maneiras, quando o tipo de informação inserida puder ser facilmente combinado com uma informação específica no sistema. Por exemplo. Um usuário pode não se lembrar de como soletrar "Amorfo", mas pode inserir as três primeiras letras e encontrar a palavra na lista de preenchimento automático.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> O padrão Autocomplete permite uma entrada mais rápida, reduz o número de toques de tecla necessários, evita erros de digitação e fornece feedback sobre a validade do que está sendo inserido. Ele também permite que os designers incluam listas mais longas para os usuários escolherem sem ocupar espaço extra na tela.
            </p>
          </div>
          <div id="filtroBusc" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Filtros de busca</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> Os usuários precisam realizar uma pesquisa usando filtros contextuais que restringem os resultados da pesquisa.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> Refine os resultados da pesquisa em tempo real usando um ou mais filtros.
              Apresente tudo o que estiver disponível e, em seguida, incentive o usuário a remover progressivamente o que não precisa, aplicando um ou mais filtros. Use esse padrão apenas quando isso ajudar a simplificar a experiência de pesquisa.              
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br> Use quando os resultados da pesquisa para uma consulta forem muito numerosos e analisá-los seria muito demorado, quando os resultados da pesquisa puderem ser categorizados em filtros: a pesquisa deve ser contextual.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> Usar o padrão de filtro ao vivo move a pesquisa de um monólogo para uma conversa. O usuário pode remover progressivamente o que não precisa passo a passo e receber feedback imediatamente.
            </p>
          </div>
          <div id="galeria" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Galeria</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br>O usuário precisa procurar uma coleção de imagens de alta qualidade.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Uma galeria consiste em várias imagens que podem ser procuradas uma por uma, navegando entre elas. Apenas uma imagem é visualizada por vez.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando o usuário precisar navegar por uma série de imagens de maneira seqüencial, ou para impor uma sensação de começo e fim. quando o usuário quiser o máximo possível de espaço na tela reservado para exibir imagens em alta resolução.

            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> As galerias têm sido muito usadas por sites de mídia que dependem de impressões de banners para ganhar o máximo possível de pageviews fora do usuário. Uma galeria com 20 imagens que são exibidas em exibições de página separadas gera um retorno muito maior em impressões de banner do que um artigo com 20 imagens abaixo uma da outra.
            </p>
          </div>
          <div id="corcol" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Cores de colunas</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br>O usuário precisa separar visualmente linhas de aparência semelhante em uma tabela à parte, para corresponder aos valores de cada linha.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> Para diferenciar as linhas da tabela umas das outras, uma tonalidade diferente é usada como cor de segundo plano para cada segunda linha. Mantenha a diferença entre as duas cores ao mínimo para preservar uma sensação suave.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando você tiver várias colunas em uma tabela, quando o conteúdo de cada coluna é frequentemente de natureza semelhante, use quando houver várias linhas para cada linha.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> A finalidade do sombreamento em cada segunda linha é apenas fornecer uma ajuda visual para todos os usuários seguirem uma linha da esquerda para a direita e vice-versa - sem confundir uma linha com a outra. O objetivo não é mudar drasticamente o design da tabela.
            </p>
          </div>
          <div id="filtrotabela" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Filtro de tabela</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> O usuário precisa categorizar os dados exibidos nas tabelas pelas colunas.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Fornecer entradas suspensas que apresentam as categorias pelas quais o usuário pode filtrar o conjunto de dados. Depois que o usuário seleciona e clica em "Filtrar" (quando o usuário envia o formulário), apenas as linhas que pertencem à categoria selecionada são exibidas.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br> Use quando você tiver um conjunto de dados muito grande de resultados que seja grande demais para ser exibido em uma página, quando uma ou mais colunas da tabela puderem ser resumidas facilmente em categorias para filtrar.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br>Adicionar filtros às suas tabelas permite que o usuário reduza a quantidade de itens mostrados. Os filtros ajudam a restringir os resultados da pesquisa, permitindo que o usuário encontre resultados mais precisos.
            </p>
          </div>
      </div>
      <div id="social" class="tabs cont-tab-second">
          <div class="tab-second bgcolor-9 tamfont3 DF FW ">
            <a href="#conquicol" class="tab-second-item btn color-1 tamfont1 font-1" id="defaultOpenNav">Conquistas colecionáveis</a>
            <a href="#chat" class="tab-second-item btn color-1 tamfont1 font-1">Chat</a>
            <a href="#seguir" class="tab-second-item btn color-1 tamfont1 font-1">Seguir</a>
            <a href="#convamigo" class="tab-second-item btn color-1 tamfont1 font-1">Convidar amigo</a>
            <a href="#reacoes" class="tab-second-item btn color-1 tamfont1 font-1">Reações</a>
            <a href="#fluxativ" class="tab-second-item btn color-1 tamfont1 font-1">Fluxo de atividades</a>
          </div>
          <div id="conquicol" class="cont-infoBC DF FW CSP tamfont3 ">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Conquistas colecionáveis</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> Alguns usuários respondem às oportunidades de ganhar e coletar prêmios que, por sua vez, podem ser exibidos para outros membros da comunidade, a fim de aumentar o engajamento.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Recompense os usuários por certos tipos de comportamento, por atingir metas especificamente definidas dentro da comunidade.          
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando quiser que seus usuários explorem partes de seu produto ou serviço que, de outra forma, não seriam atraentes para eles, quando quiser que seus usuários usem todas as partes do seu produto ou serviço e da maneira que você deseja.
              Use quando seus usuários precisarem de orientação para explorar suas ofertas.              
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> Conquistas refletem a reputação de um usuário em uma comunidade. São "uma história das ações de uma pessoa dentro dessa comunidade e um julgamento de valor sobre o valor dessas ações".Conquistas colecionáveis ​​dão ao usuário uma sensação de propriedade e pertencimento. Ele oferece ao usuário a oportunidade de criar uma presença on-line que pode ser mostrada e admirada por outros membros da comunidade - proporcionando assim um senso de status na comunidade.
            </p>
          </div>
          <div id="chat" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Chat</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> O usuário deseja interagir de maneira particular com outros indivíduos ou grupos de dentro do sistema.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> Permitir que os usuários interajam com grupos, indivíduos ou o sistema por meio de mensagens de texto. Os elementos desse padrão de design geralmente incluem várias telas a serem projetadas.             
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br> Use quando quiser permitir que os usuários do seu sistema entrem em contato com outros usuários do sistema, quando você precisar fornecer uma forma de comunicação pessoa-pessoa entre usuários e quando você quiser fornecer uma maneira de os usuários interagirem de maneira particular com outros indivíduos ou grupos.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> Bate-papo como uma interface é tão antiga quanto a linha de comando. Combinando chatbots com as interações sociais de mensagens diretas e em grupo, o bate-papo como interface pode compreender casos de uso tão variados quanto pagar sua conta de gás, implantar código ou criar relações sociais íntimas.
            </p>
          </div>
          <div id="seguir" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Seguir</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br>O usuário deseja acompanhar e manter-se atualizado com atividades sobre tópicos ou temas, não apenas pessoas.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Permiti que os usuários selecionem itens com os quais desejam se manter atualizados, sigam tópicos, temas, canais, eventos ou pessoas e mostrem atualizações relacionadas no Fluxo de atividades do usuário.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando quiser permitir que os usuários personalizem a experiência do seu aplicativo para tópicos, temas ou pessoas específicos.

            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> Os usuários podem obter acesso a muitos conteúdos variados, “seguindo” as atividades e recomendações de outros usuários, e esse padrão permite que eles façam isso sem ter que se preocupar com quantos amigos reais estão usando o aplicativo.
            </p>
          </div>
          <div id="convamigo" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Convidar amigo</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br>O usuário quer experimentar o aplicativo com seus amigos.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> Permiti que os usuários selecionem itens com os quais desejam se manter atualizados, sigam tópicos, temas, canais, eventos ou pessoas e mostrem atualizações relacionadas no Fluxo de atividades do usuário.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando quiser permitir que os usuários personalizem a experiência do seu aplicativo para tópicos, temas ou pessoas específicos.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br>Os usuários podem obter acesso a muitos conteúdos variados, “seguindo” as atividades e recomendações de outros usuários, e esse padrão permite que eles façam isso sem ter que se preocupar com quantos amigos reais estão usando o aplicativo.
            </p>
          </div>
          <div id="reacoes" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Reações</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> O usuário reage a postagens ou clasisfica os itens de acordo com seu gosto.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Simplifique os controles de classificação, tornando-os escolhas binárias de consentimento emocional, em vez de classificações refinadas de estrelas ou pontuações. Use a atividade de reação para descobrir qual conteúdo pode ser mais relevante para seus usuários.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando quiser permitir que os usuários classifiquem o conteúdo sem precisar se preocupar com os graus em que eles gostam, quando você quiser fornecer uma maneira fácil e informal para os usuários fornecerem informações sobre seus gostos e preferências.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br>Eliminando a granulação fina das estrelas e as pontuações de classificação, isso torna as classificações mais fáceis para os usuários, além de interpretá-las.
            </p>
          </div>
          <div id="fluxativ" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Reações</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> O usuário deseja obter uma visão geral das ações recentes em um sistema que sejam interessantes do ponto de vista dele.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Fornece uma visão geral da atividade recente que seja relevante para o usuário. Permiti que os usuários acompanhem atualizações recentes com pouco tempo e esforço investidos. Os fluxos de atividades são usados ​​com mais frequência para agregar ações recentes de usuários individuais ou múltiplos na perspectiva de um usuário.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando você quiser permitir que seus usuários mantenham contato pela Web, para manter os usuários atualizados com as atividades de seus contatos, quando você quiser solicitar que seus usuários respondam às ações de outros usuários.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br>Os fluxos de atividades permitem o envolvimento. Eles expõem os usuários às possíveis ações que podem ser tomadas em um site. De relance, os usuários podem ver o que outras pessoas estão fazendo e começar a experimentar. Nesse sentido, os fluxos de atividades são uma forma alternativa de navegação e descoberta.
            </p>
          </div>
      </div>
      <div id="onboarding" class="tabs cont-tab-second">
          <div class="tab-second bgcolor-9 tamfont3 DF FW ">
            <a href="#blankstate" class="tab-second-item btn color-1 tamfont1 font-1" id="defaultOpenNav">Blank slate</a>
            <a href="#passoapasso" class="tab-second-item btn color-1 tamfont1 font-1">Passo a passo</a>
            <a href="#tourguiado" class="tab-second-item btn color-1 tamfont1 font-1">Tour guiado</a>
            <a href="#inlinehints" class="tab-second-item btn color-1 tamfont1 font-1">Inline Hints</a>
            <a href="#registropreg" class="tab-second-item btn color-1 tamfont1 font-1">Registro preguiçoso</a>
          </div>
          <div id="blankstate" class="cont-infoBC DF FW CSP tamfont3 ">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Blank slate</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> Use quando seu aplicativo parecer sem vida e vazio antes de o usuário começar a inserir dados no sistema, quando você quiser motivar o usuário a começar a usar o sistema ou quando quiser ajudar o usuário a começar a usar seu aplicativo da web.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> Apresentar o conteúdo de uma guia dentro de uma caixa (área de conteúdo), evite ter mais de uma linha de links na barra da guia horizontal superior e use cores ou outro suporte visual para indicar qual guia está sendo visualizada no momento.            
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando você quiser permitir que seus usuários mantenham contato pela Web, para manter os usuários atualizados com as atividades de seus contatos, quando você quiser solicitar que seus usuários respondam às ações de outros usuários.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> O Blank slate é geralmente a primeira tela em que o usuário é apresentado quando inicia algo novo em um aplicativo. É possível direcionar a tela depois de criar uma conta ou a primeira tela que eles visualizam quando usam parte de um aplicativo que não usaram antes.
            </p>
          </div>
          <div id="passoapasso" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Passo a passo</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br>O usuário quer aprender os produtos e serviços que você oferece para tomar uma decisão de aderir a um serviço ou comprar um produto.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> Apresentar os principais recursos do seu produto antes que o usuário comece a usá-lo. Apresentar seu produto e / ou proposição de valor antes que a experiência real do usuário comece. Passo a passo são muitas vezes apresentados como uma apresentação de slides estática ou animada ou com vídeo.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br> Use para dar aos usuários uma visão sobre o que é um produto antes de gastar tempo ou dinheiro com o produto completo,  para ajudar a vender seu produto ou para permitir que os usuários façam uma decisão de compra "informada".
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> A compra de um produto ou serviço pode ser cara e os usuários precisarão de uma quantidade significativa de persuasão e incentivo antes de comprar. Um passo a passo permite que os usuários tenham um vislumbre de seu produto sem precisar se inscrever.
            </p>
          </div>
          <div id="tourguiado" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Tour guiado</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br>O usuário quer aprender sobre recursos de interface novos ou desconhecidos.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> A orientação "just-in-time" é acionada quando o usuário explora. Permitir que os usuários aprendam em seu próprio ritmo usando dicas de ferramentas, sobreposições, modelos e alertas sugerindo o uso ideal de uma interface dentro do contexto de uso diário.            
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando quiser ajudar os usuários a se acostumar com sua interface de usuário, quando quiser notificar seus usuários sobre recursos novos ou desconhecidos ou quando sua interface de usuário não é auto-explicativa.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> Decida se você deseja permitir que o passeio seja orientado por produto ou orientado pelo usuário. Em uma visita guiada pelo produto, as dicas avançam automaticamente em sucessão linear, enquanto as dicas de uma visita guiada pelo usuário são acionadas quando o usuário atinge os pontos apropriados em sua experiência.
            </p>
          </div>
          <div id="inlinehints" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Inline Hints</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br>O usuário quer aprender sobre recursos de interface novos ou desconhecidos de maneira discreta.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br> Use o layout para integrar e combinar perfeitamente dicas e treinamento. A experiência integrada permite uma forma de instrução mais facilmente legível e relevante que não interrompe ou obscurece uma experiência de conteúdo.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br>Use quando quiser melhorar a legibilidade da ajuda guiada, pois as dicas incorporadas são formatadas de maneira consistente com outros conteúdos, quando você não quiser interromper ou ocultar uma experiência de conteúdo ou para fornecer informações úteis em combinação com o Blank Slates.
            </p>
            <p class="DB infoBC tamfont1 font-1 color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> Por ter sugestões inline tomam a forma de conteúdo normal, todos os dias, os designers esperam que eles sejam mais facilmente legíveis e relevantes do que outras formas de instrução.
            </p>
          </div>
          <div id="registropreg" class="cont-infoBC DF FW CSP tamfont3">
            <h4 class="infoBC-title font-1 tamfont3 bold DB w-100 Upper color-1">Registro preguiçoso</h4>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Resumo do problema</span>
              <br>
              <br> O usuário quer usá-lo imediatamente e experimentar seu site sem antes realizar um registro formal.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Solução</span>
              <br>
              <br>Permitir que os usuários acessem um conjunto limitado de recursos, funcionalidades ou conteúdo antes ou sem registro. Permita que os usuários interajam o suficiente com seu sistema para que um registro real seja apenas mais um pequeno passo em um processo maior: um pequeno passo, não uma obrigação.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Utilização</span>
              <br>
              <br> Use quando for crítico para o seu site permitir que o usuário navegue e interaja com seu website antes de registrar uma conta, quando fornecer informações pessoais necessárias para um registro de conta formal é um grande passo para seus usuários.
            </p>
            <p class="DB infoBC tamfont1 font-1  color-1">
              <span class="bold tamfont2">Racionalização</span>
              <br>
              <br> Entregue valor antes de solicitar a conversão. Os carrinhos de compras são um padrão clássico que é reproduzido no Registro preguiçoso: os usuários podem procurar e escolher produtos, mas só precisam se registrar quando saírem para o check out.
            </p>
          </div>
        </div>
    </section>
    <section class="conteudo-body bgcolor-6 P-440">
      <p class="tamfont2 font-1 color-2 mx860 text-pages LH3">
        <strong class="bold tamfont2">Padrões de Interação Comportamentais</strong>
        <br>
        <br> Padrões de uso normalmente são identificados através da observação de como os usuários usam os elementos de uma
        interface e em quão útil esses elementos, e seus comportamentos, estão sendo para que o usuário complete suas tarefas
        mais facilmente e mais eficientemente. Após descobrir esses padrões de uso, criamos os padrões de interações para
        suportar esses padrões de uso comuns.
        <br>
        <br> Por exemplo, softwares de CRM normalmente vêm com uma opção "novo" para criar um novo contato. Uma vez clicado em
        "novo" aparece o formulário com as opções "salvar" e "cancelar".
        <br>
        <br> Observando como os usuários usavam esse tipo de ferramenta, descobriu-se que o padrão de uso era, na maioria das
        vezes, após clicar em "salvar", clicar em "novo" para cadastrar mais um contato. Percebendo esse padrão de uso, apareceu
        um terceiro botão no formulário, o "salvar e novo":
        <br>
        <br> A partir daí, esse comportamento pôde ser mapeado em um novo padrão de design de interação.
        <br>
        <br> Aqui citamos alguns padrões conhecidos de design de interação, divididos em sete categorias principais de padrões
        de uso:
        <br>
        <span class="paragraphList tamfont1">Exploratório</span>
        <span class="paragraphList tamfont1">Navegação em grandes bases de dados</span>
        <span class="paragraphList tamfont1">Busca avançada</span>
        <span class="paragraphList tamfont1">Entrada e alteração de dados</span>
        <span class="paragraphList tamfont1">Informação centralizada</span>
        <span class="paragraphList tamfont1">Guias</span>
        <span class="paragraphList tamfont1">Comunidade </span>
      </p>
    </section>
    <section class="conteudo-body DF FW bgcolor-6 P-440">
      <div class="w-100 bg-footer-BC DF FW">
        <p class="tamfont3 font-1 color-1 mx860 text-pages LH3">
          <br>
          <br>
          <strong class="bold Upper tamfont2">Links e material disponível na web</strong>
          <br>
          <br> Juntamos links e materiais, artigos, livros e matérias sobre design e inteligência artificial como ela vem impactando
          o design e como será no futuro e diposmos aqui tudo aqui.
          <br>
          <br> Você pode ajudar a construir e alimentar essa biblioteca se você conhecer uma fonte de recursos interessantes
          nos envie uma mensagem que iremos incluir na lista.
          <br>
          <br>
        </p>
      </div>
      <div class="w-50">
        <p class="tamfont2 font-1 color-2 mx860 text-pages LH3">
          <strong class="bold tamfont2">Recursos</strong>
          <br>
          <br>
          <a class="tamfont1" href="https://www.interaction-design.org/literature/article/10-great-sites-for-ui-design-patterns">
            <span class="bold tamfont1">10 Sites bons de padroes de Design</span>
            <br> https://www.interaction-design.org/literature/article/10-great-sites-for-ui-design-patterns
          </a>
          <br>
          <br>
          <a href="https://www.toptal.com/designers/subtlepatterns/" class="tamfont1">
            <span class="bold tamfont1">Subtle patterns - padõres variados para aplicação em fundos.</span>
            <br> https://www.toptal.com/designers/subtlepatterns/</a>
          <br>
          <br>
          <a href="https://www.caelum.com.br/apostila-ux-usabilidade-mobile-web/" class="tamfont1">
            <span class="bold tamfont1">Apostila Caelum - UX e Usabilidade aplicados em Mobile e Web.</span>
            <br> https://www.caelum.com.br/apostila-ux-usabilidade-mobile-web/</a>
          <br>
          <br>
          <a href="http://www.dubberly.com/concept-maps/3x4grid.html" class="tamfont1">
            <span class="bold tamfont1">The 892 unique ways to partition a 3 x 4 grid</span>
            <br>http://www.dubberly.com/concept-maps/3x4grid.html</a>
          <br>
          <br>
          <a href="https://lawsofux.com/" class="tamfont1">
            <span class="bold tamfont1">LAWS OF UX</span>
            <br> https://lawsofux.com/
          </a>
        </p>
      </div>
      <div class="w-50">
        <p class="tamfont2 font-1 color-2 mx860 text-pages LH3">
          <strong class="bold tamfont2">Matérias</strong>
          <br>
          <br>
          <a href="https://uxdesign.cc/ai-and-human-centered-design-whats-the-future-5c88f523c07a" class="tamfont1">
            <span class="bold tamfont1">AI and Human-Centered Design: What’s the Future?</span>
            <br> https://uxdesign.cc/ai-and-human-centered-design-whats-the-future-5c88f523c07a
          </a>
          <br>
          <br>
          <a href="http://tiny.cc/xldzsy" class="tamfont1">
            <span class="bold tamfont1">Design Thinking: a abordagem centrada no ser humano</span>
            <br>http://tiny.cc/xldzsy</a>
          <br>
          <br>
          <a href="https://www.artefactgroup.com/articles/ai-designer-2025/" class="tamfont1">
            <span class="bold tamfont1">AI and design: What will the designer of 2025 look like?</span>
            <br>https://www.artefactgroup.com/articles/ai-designer-2025/</a>
          <br>
          <br>
          <a href="https://airbnb.design/sketching-interfaces/" class="tamfont1">
            <span class="bold tamfont1">Sketching Interfaces</span>
            <br>https://airbnb.design/sketching-interfaces/</a>
          <br>
          <br>
          <a href="https://www.wired.com/2016/10/elbo-chair-autodesk-algorithm/" class="tamfont1">
            <span class="bold tamfont1">SO. ALGORITHMS ARE DESIGNING CHAIRS NOW</span>
            <br>https://www.wired.com/2016/10/elbo-chair-autodesk-algorithm/</a>
        </p>
      </div>
      <div class="w-50 text-center align-center">
        <p class="tamfont2 font-1 color-2 mx860 text-pages LH3">
          <strong class="bold tamfont2">Artigos</strong>
          <br>
          <br>
          <a href="https://www.interaction-design.org/literature/article/10-great-sites-for-ui-design-patterns" class="tamfont1">
            <span class="bold tamfont1">10 Sites bons de padroes de Design</span>
            <br>https://www.interaction-design.org/literature/article/10-great-sites-for-ui-design-patterns</a>
          <br>
          <br>
          <a href="https://www.toptal.com/designers/subtlepatterns/" class="tamfont1">
            <span class="bold tamfont1">Subtle patterns - padõres variados para aplicação em fundos.</span>
            <br>https://www.toptal.com/designers/subtlepatterns/</a>
          <br>
          <br>
          <a href="https://www.caelum.com.br/apostila-ux-usabilidade-mobile-web/" class="tamfont1">
            <span class="bold tamfont1">Apostila Caelum - UX e Usabilidade aplicados em Mobile e Web</span>
            <br>https://www.caelum.com.br/apostila-ux-usabilidade-mobile-web/</a>
          <br>
          <br>
          <a href="http://www.dubberly.com/concept-maps/3x4grid.html" class="tamfont1">
            <span class="bold tamfont1">The 892 unique ways to partition a 3 x 4 grid</span>
            <br>http://www.dubberly.com/concept-maps/3x4grid.html</a>
        </p>
      </div>
    </section>
    <% include ../commom/footer.ejs %>
</body>
<% include ../commom/tags-footer.ejs %>

  </html>