<!DOCTYPE html>
<head>
  <title>MoodSigth - Biblioteca-de-Conteudo</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <% include ../commom/header.ejs %> 
  <section id="conteudo-body">

  </section>
  <div id="result"></div>
  <% include ../commom/footer.ejs %>
</body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/default.js"></script>
</html>